In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from geopy.geocoders import Nominatim
from datetime import datetime

In [2]:
df=pd.read_csv("class_define.csv")

In [3]:
df

,Unnamed: 0,class_name,class_field,location,periods,day_learn,day_go_to_school,time_learn,start_time,end_time,avg_learn_sub,visualize_time
0,0,ANTH 012,ANTH,silsby-rocky,"[{'day': 1, 'end': '12:20', 'start': '11:15'},...","[1, 2, 3, 5]",4,"[1:05:00, 1:05:00, 1:05:00, 0:50...","['11:15:00', '11:15:00', '11:15:00', '12:00:00']","['12:20:00', '12:20:00', '12:20:00', '12:50:00']",3675.0,01:01:15
1,1,BIOL 004,BIOL,lsb,"[{'day': 2, 'end': '11:50', 'start': '10:00'},...","[2, 3, 4]",3,"[1:05:00, 1:05:00, 1:05:00, 0:50...","['10:00:00', '10:00:00', '15:00:00']","['11:50:00', '11:50:00', '15:50:00']",5400.0,01:30:00
2,2,BIOL 006,BIOL,lsb,"[{'day': 2, 'end': '11:50', 'start': '10:00'},...","[2, 3, 4]",3,"[1:05:00, 1:05:00, 1:05:00, 0:50...","['10:00:00', '10:00:00', '15:00:00']","['11:50:00', '11:50:00', '15:50:00']",5400.0,01:30:00
3,3,CHIN 033,CHIN,reed,"[{'day': 1, 'end': '09:50', 'start': '09:00'},...","[1, 2, 3, 4, 5]",5,"[1:05:00, 1:05:00, 1:05:00, 0:50...","['9:00:00', '9:00:00', '9:00:00', '9:00:00', '...","['9:50:00', '9:50:00', '9:50:00', '9:50:00', '...",3000.0,00:50:00
4,4,CHIN 062,CHIN,kemeny,"[{'day': 2, 'end': '17:50', 'start': '16:00'},...","[1, 2, 4]",3,"[1:05:00, 1:05:00, 1:05:00, 0:50...","['16:00:00', '16:00:00', '17:00:00']","['17:50:00', '17:50:00', '17:50:00']",5400.0,01:30:00
5,5,COSC 007,COSC,baker-berry,"[{'day': 1, 'end': '14:50', 'start': '13:45'},...","[1, 3, 4, 5]",4,"[1:05:00, 1:05:00, 1:05:00, 0:50...","['13:45:00', '13:45:00', '13:45:00', '13:00:00']","['14:50:00', '14:50:00', '14:50:00', '13:50:00']",3675.0,01:01:15
6,6,COSC 020,COSC,moore,"[{'day': 2, 'end': '15:50', 'start': '14:00'},...","[2, 3, 4]",3,"[1:05:00, 1:05:00, 1:05:00, 0:50...","['14:00:00', '14:00:00', '16:15:00']","['15:50:00', '15:50:00', '17:05:00']",5400.0,01:30:00
7,7,COSC 027,COSC,sudikoff,"[{'day': 1, 'end': '16:50', 'start': '15:00'},...","[1, 1, 4]",3,"[1:05:00, 1:05:00, 1:05:00, 0:50...","['15:00:00', '17:00:00', '16:00:00']","['16:50:00', '17:50:00', '17:50:00']",5400.0,01:30:00
8,8,COSC 050,COSC,kemeny,"[{'day': 1, 'end': '13:35', 'start': '12:30'},...","[1, 2, 3, 5]",4,"[1:05:00, 1:05:00, 1:05:00, 0:50...","['12:30:00', '12:30:00', '12:30:00', '13:00:00']","['13:35:00', '13:35:00', '13:35:00', '13:50:00']",3675.0,01:01:15
9,9,COSC 057,COSC,sudikoff,"[{'day': 1, 'end': '14:50', 'start': '13:45'},...","[1, 3, 4, 5]",4,"[1:05:00, 1:05:00, 1:05:00, 0:50...","['13:45:00', '13:45:00', '13:45:00', '13:00:00']","['14:50:00', '14:50:00', '14:50:00', '13:50:00']",3675.0,01:01:15
10,10,COSC 060,COSC,lsb,"[{'day': 1, 'end': '14:50', 'start': '13:45'},...","[1, 3, 4, 5]",4,"[1:05:00, 1:05:00, 1:05:00, 0:50...","['13:45:00', '13:45:00', '13:45:00', '13:00:00']","['14:50:00', '14:50:00', '14:50:00', '13:50:00']",3675.0,01:01:15
11,11,COSC 065,COSC,lsb,"[{'day': 1, 'end': '11:05', 'start': '10:00'},...","[1, 3, 4, 5]",4,"[1:05:00, 1:05:00, 1:05:00, 0:50...","['10:00:00', '10:00:00', '10:00:00', '12:00:00']","['11:05:00', '11:05:00', '11:05:00', '12:50:00']",3675.0,01:01:15
12,12,COSC 069,COSC,sudikoff,"[{'day': 2, 'end': '17:50', 'start': '16:00'},...","[1, 2, 4]",3,"[1:05:00, 1:05:00, 1:05:00, 0:50...","['16:00:00', '16:00:00', '17:00:00']","['17:50:00', '17:50:00', '17:50:00']",5400.0,01:30:00
13,13,COSC 070,COSC,sudikoff,"[{'day': 2, 'end': '15:50', 'start': '14:00'},...","[2, 3, 4]",3,"[1:05:00, 1:05:00, 1:05:00, 0:50...","['14:00:00', '14:00:00', '16:15:00']","['15:50:00', '15:50:00', '17:05:00']",5400.0,01:30:00
14,14,COSC 077,COSC,steele,"[{'day': 2, 'end': '15:50', 'start': '14:00'},...","[2, 3, 4]",3,"[1:05:00, 1:05:00, 1:05:00, 0:50...","['14:00:00', '14:00:00', '16:15:00']","['15:50:00', '15:50:00', '17:05:00']",5400.0,01:30:00
15,15,COSC 089 1,COSC,sudikoff,"[{'day': 1, 'end': '12:20', 'start': '11:15'},...","[1, 2, 3, 5]",4,"[1:05:00, 1:05:00, 1:05:00, 0:50...","['11:15:00', '11:15:00', '11:15:00', '12:00:00']","['12:20:00', '12:20:00', '12:20:00', '12:50:00']",3675.0,01:01:15
16,16,COSC 089 2,COSC,sudikoff,"[{'day': 2, 'end': '15:50', 'start': '14:00'},...","[2, 3, 4]",3,"[1:05:00, 1:05:00, 1:05:00, 0:50...","['14:00:00', '14:00:00', '16:15:00']","['15:50:00', '15:50:00', '17:05:00']",5400.0,01:30:00
17,17,COSC 089 3,COSC,sudikoff,"[{'day': 2, 'end': '11:50', 'start': '10:00'},...","[2, 3, 4]",3,"[1:05:00, 1:05:00, 1:05:00, 0:50...","['10:00:00', '10:00:00', '15:00:00']","['11:50:00', '11:50:00', '15:50:00']",5400.0,01:30:00
18,18,EARS 003,EARS,lsb,"[{'day': 1, 'end': '12:20', 'start': '11:15'},...","[1, 2, 3, 5]",4,"[1:05:00, 1:05:00, 1:05:00, 0:50...","['11:15:00', '11:15:00', '11:15:00', '12:00:00']","['12:20:00', '12:20:00', '12:20:00', '12:50:00']",3675.0,01:01:15
19,19,ECON 024,ECON,silsby-rocky,"[{'day': 1, 'end': '09:50', 'start': '08:45'},...","[1, 3, 4, 5]",4,"[1:05:00, 1:05:00, 1:05:00, 0:50...","['8:45:00', '8:45:00', '8:45:00', '9:00:00']","['9:50:00', '9:50:00', '9:50:00', '9:50:00']",3675.0,01:01:15
20,20,ECON 036,ECON,kemeny,"[{'day': 1, 'end': '09:50', 'start': '08:45'},...","[1, 3, 4, 5]",4,"[1:05:00, 1:05:00, 1:05:00, 0:50...","['8:45:00', '8:45:00', '8:45:00', '9:00:00']","['9:50:00', '9:50:00', '9:50:00', '9:50:00']",3675.0,01:01:15
21,21,ENGL 028,ENGL,lsb,"[{'day': 1, 'end': '09:50', 'start': '08:45'},...","[1, 3, 4, 5]",4,"[1:05:00, 1:05:00, 1:05:00, 0:50...","['8:45:00', '8:45:00', '8:45:00', '9:00:00']","['9:50:00', '9:50:00', '9:50:00', '9:50:00']",3675.0,01:01:15
22,22,ENGL 047,ENGL,dartmouth_hall,"[{'day': 1, 'end': '12:20', 'start': '11:15'},...","[1, 2, 3, 5]",4,"[1:05:00, 1:05:00, 1:05:00, 0:50...","['11:15:00', '11:15:00', '11:15:00', '12:00:00']","['12:20:00', '12:20:00', '12:20:00', '12:50:00']",3675.0,01:01:15
23,23,ENGL 067,ENGL,carson-tech_services,"[{'day': 2, 'end': '15:50', 'start': '14:00'},...","[2, 3, 4]",3,"[1:05:00, 1:05:00, 1:05:00, 0:50...","['14:00:00', '14:00:00', '16:15:00']","['15:50:00', '15:50:00', '17:05:00']",5400.0,01:30:00
24,24,ENGS 022,ENGS,cummings,"[{'day': 1, 'end': '09:50', 'start': '08:45'},...","[1, 3, 4, 5]",4,"[1:05:00, 1:05:00, 1:05:00, 0:50...","['8:45:00', '8:45:00', '8:45:00', '9:00:00']","['9:50:00', '9:50:00', '9:50:00', '9:50:00']",3675.0,01:01:15
25,25,ENGS 025,ENGS,cummings,"[{'day': 1, 'end': '14:50', 'start': '13:45'},...","[1, 3, 4, 5]",4,"[1:05:00, 1:05:00, 1:05:00, 0:50...","['13:45:00', '13:45:00', '13:45:00', '13:00:00']","['14:50:00', '14:50:00', '14:50:00', '13:50:00']",3675.0,01:01:15
26,26,ENGS 069,ENGS,lsb,"[{'day': 1, 'end': '11:05', 'start': '10:00'},...","[1, 3, 4, 5]",4,"[1:05:00, 1:05:00, 1:05:00, 0:50...","['10:00:00', '10:00:00', '10:00:00', '12:00:00']","['11:05:00', '11:05:00', '11:05:00', '12:50:00']",3675.0,01:01:15
27,27,ENGS 093,ENGS,maclean,"[{'day': 1, 'end': '13:35', 'start': '12:30'},...","[1, 2, 3, 5]",4,"[1:05:00, 1:05:00, 1:05:00, 0:50...","['12:30:00', '12:30:00', '12:30:00', '13:00:00']","['13:35:00', '13:35:00', '13:35:00', '13:50:00']",3675.0,01:01:15
28,28,FILM 051,FILM,vac,"[{'day': 2, 'end': '11:50', 'start': '10:00'},...","[2, 3, 4]",3,"[1:05:00, 1:05:00, 1:05:00, 0:50...","['10:00:00', '10:00:00', '15:00:00']","['11:50:00', '11:50:00', '15:50:00']",5400.0,01:30:00
29,29,GERM 001,GERM,dartmouth_hall,"[{'day': 1, 'end': '09:50', 'start': '09:00'},...","[1, 2, 3, 4, 5]",5,"[1:05:00, 1:05:00, 1:05:00, 0:50...","['9:00:00', '9:00:00', '9:00:00', '9:00:00', '...","['9:50:00', '9:50:00', '9:50:00', '9:50:00', '...",3000.0,00:50:00
30,30,HIST 051,HIST,carson-tech_services,"[{'day': 1, 'end': '13:35', 'start': '12:30'},...","[1, 2, 3, 5]",4,"[1:05:00, 1:05:00, 1:05:00, 0:50...","['12:30:00', '12:30:00', '12:30:00', '13:00:00']","['13:35:00', '13:35:00', '13:35:00', '13:50:00']",3675.0,01:01:15
31,31,JAPN 033,JAPN,batrlett,"[{'day': 1, 'end': '12:20', 'start': '11:15'},...","[1, 2, 3, 5]",4,"[1:05:00, 1:05:00, 1:05:00, 0:50...","['11:15:00', '11:15:00', '11:15:00', '12:00:00']","['12:20:00', '12:20:00', '12:20:00', '12:50:00']",3675.0,01:01:15
32,32,LAT 003,LAT,reed,"[{'day': 1, 'end': '09:50', 'start': '08:45'},...","[1, 3, 4, 5]",4,"[1:05:00, 1:05:00, 1:05:00, 0:50...","['8:45:00', '8:45:00', '8:45:00', '9:00:00']","['9:50:00', '9:50:00', '9:50:00', '9:50:00']",3675.0,01:01:15
33,33,M&SS 045,M&SS,kemeny,"[{'day': 1, 'end': '09:50', 'start': '08:45'},...","[1, 3, 4, 5]",4,"[1:05:00, 1:05:00, 1:05:00, 0:50...","['8:45:00', '8:45:00', '8:45:00', '9:00:00']","['9:50:00', '9:50:00', '9:50:00', '9:50:00']",3675.0,01:01:15
34,34,MATH 013,MATH,kemeny,"[{'day': 1, 'end': '13:35', 'start': '12:30'},...","[1, 2, 3, 5]",4,"[1:05:00, 1:05:00, 1:05:00, 0:50...","['12:30:00', '12:30:00', '12:30:00', '13:00:00']","['13:35:00', '13:35:00', '13:35:00', '13:50:00']",3675.0,01:01:15
35,35,MATH 022,MATH,kemeny,"[{'day': 1, 'end': '12:20', 'start': '11:15'},...","[1, 2, 3, 5]",4,"[1:05:00, 1:05:00, 1:05:00, 0:50...","['11:15:00', '11:15:00', '11:15:00', '12:00:00']","['12:20:00', '12:20:00', '12:20:00', '12:50:00']",3675.0,01:01:15
36,36,MATH 023,MATH,kemeny,"[{'day': 1, 'end': '12:20', 'start': '11:15'},...","[1, 2, 3, 5]",4,"[1:05:00, 1:05:00, 1:05:00, 0:50...","['11:15:00', '11:15:00', '11:15:00', '12:00:00']","['12:20:00', '12:20:00', '12:20:00', '12:50:00']",3675.0,01:01:15
37,37,MUS 003,MUS,hopkins,"[{'day': 2, 'end': '15:50', 'start': '14:00'},...","[2, 3, 4]",3,"[1:05:00, 1:05:00, 1:05:00, 0:50...","['14:00:00', '14:00:00', '16:15:00']","['15:50:00', '15:50:00', '17:05:00']",5400.0,01:30:00
38,38,MUS 016,MUS,hopkins,"[{'day': 2, 'end': '11:50', 'start': '10:00'},...","[2, 3, 4]",3,"[1:05:00, 1:05:00, 1:05:00, 0:50...","['10:00:00', '10:00:00', '15:00:00']","['11:50:00', '11:50:00', '15:50:00']",5400.0,01:30:00
39,39,NAS 008,NAS,moore,"[{'day': 1, 'end': '13:35', 'start': '12:30'},...","[1, 2, 3, 5]",4,"[1:05:00, 1:05:00, 1:05:00, 0:50...","['12:30:00', '12:30:00', '12:30:00', '13:00:00']","['13:35:00', '13:35:00', '13:35:00', '13:50:00']",3675.0,01:01:15
40,40,NAS 035,NAS,carpenterhall,"[{'day': 1, 'end': '12:20', 'start': '11:15'},...","[1, 2, 3, 5]",4,"[1:05:00, 1:05:00, 1:05:00, 0:50...","['11:15:00', '11:15:00', '11:15:00', '12:00:00']","['12:20:00', '12:20:00', '12:20:00', '12:50:00']",3675.0,01:01:15
41,41,PSYC 028,PSYC,moore,"[{'day': 1, 'end': '14:50', 'start': '13:45'},...","[1, 3, 4, 5]",4,"[1:05:00, 1:05:00, 1:05:00, 0:50...","['13:45:00', '13:45:00', '13:45:00', '13:00:00']","['14:50:00', '14:50:00', '14:50:00', '13:50:00']",3675.0,01:01:15
42,42,REL 018,REL,carson-tech_services,"[{'day': 1, 'end': '14:50', 'start': '13:45'},...","[1, 3, 4, 5]",4,"[1:05:00, 1:05:00, 1:05:00, 0:50...","['13:45:00', '13:45:00', '13:45:00', '13:00:00']","['14:50:00', '14:50:00', '14:50:00', '13:50:00']",3675.0,01:01:15
43,43,SPAN 003,SPAN,dartmouth_hall,"[{'day': 1, 'end': '09:50', 'start': '09:00'},...","[1, 2, 3, 4, 5]",5,"[1:05:00, 1:05:00, 1:05:00, 0:50...","['9:00:00', '9:00:00', '9:00:00', '9:00:00', '...","['9:50:00', '9:50:00', '9:50:00', '9:50:00', '...",3000.0,00:50:00
44,44,TUCK 003,TUCK,carson-tech_services,"[{'day': 2, 'end': '15:50', 'start': '14:00'},...","[2, 3, 4]",3,"[1:05:00, 1:05:00, 1:05:00, 0:50...","['14:00:00', '14:00:00', '16:15:00']","['15:50:00', '15:50:00', '17:05:00']",5400.0,01:30:00

In [4]:
df['location'].unique()

array(['silsby-rocky', 'lsb', 'reed', 'kemeny', 'baker-berry', 'moore',
       'sudikoff', 'steele', 'dartmouth_hall', 'carson-tech_services',
       'cummings', 'maclean', 'vac', 'batrlett', 'hopkins',
       'carpenterhall'], dtype=object)

In [5]:
df.rename(columns={'Unnamed: 0':'class_name'})
df.iloc[0,4]

"[{'day': 1, 'end': '12:20', 'start': '11:15'}, {'day': 3, 'end': '12:20', 'start': '11:15'}, {'day': 5, 'end': '12:20', 'start': '11:15'}, {'day': 2, 'end': '12:50', 'start': '12:00'}]"

In [6]:
geolocator=Nominatim(user_agent="Geocoordinateconverter")
loc=geolocator.geocode(' carpenter hall,nh')
print(loc.latitude)

43.70549135

In [7]:
def correct_hall_name(loc):
    match loc:
        case 'silsby-rocky': return 'silsby hall'
        case 'baker-berry': return '25 North Main Street, Hanover'
        case 'reed': return 'Reed Hall,NH'
        case 'kemeny': return 'kemeny,NH'
        case 'moore': return 'moore Psychology,NH'
        case 'sudikoff': return 'sudikoff hall'
        case 'steele': return 'steele hall,NH'
        case 'lsb':return 'silsby hall'
        case 'carson': return 'carson hall,NH'
        case 'cumming': return '10 Thayer , Hanover, NH 03755, United States'
        case 'maclean': return 'maclean center,nh'
        case 'vac':return 'Black Family Visual Arts Center'
        case 'batrlett': return 'Dartmouth Park, Hanover, N.H'
        case 'hopkins': return 'hopkins center,nh'
        case 'carpenterhall': return 'carpenter hall'
        

df['location']=df['location'].apply(lambda x: correct_hall_name(x))

In [8]:
df

,Unnamed: 0,class_name,class_field,location,periods,day_learn,day_go_to_school,time_learn,start_time,end_time,avg_learn_sub,visualize_time
0,0,ANTH 012,ANTH,silsby hall,"[{'day': 1, 'end': '12:20', 'start': '11:15'},...","[1, 2, 3, 5]",4,"[1:05:00, 1:05:00, 1:05:00, 0:50...","['11:15:00', '11:15:00', '11:15:00', '12:00:00']","['12:20:00', '12:20:00', '12:20:00', '12:50:00']",3675.0,01:01:15
1,1,BIOL 004,BIOL,silsby hall,"[{'day': 2, 'end': '11:50', 'start': '10:00'},...","[2, 3, 4]",3,"[1:05:00, 1:05:00, 1:05:00, 0:50...","['10:00:00', '10:00:00', '15:00:00']","['11:50:00', '11:50:00', '15:50:00']",5400.0,01:30:00
2,2,BIOL 006,BIOL,silsby hall,"[{'day': 2, 'end': '11:50', 'start': '10:00'},...","[2, 3, 4]",3,"[1:05:00, 1:05:00, 1:05:00, 0:50...","['10:00:00', '10:00:00', '15:00:00']","['11:50:00', '11:50:00', '15:50:00']",5400.0,01:30:00
3,3,CHIN 033,CHIN,"Reed Hall,NH","[{'day': 1, 'end': '09:50', 'start': '09:00'},...","[1, 2, 3, 4, 5]",5,"[1:05:00, 1:05:00, 1:05:00, 0:50...","['9:00:00', '9:00:00', '9:00:00', '9:00:00', '...","['9:50:00', '9:50:00', '9:50:00', '9:50:00', '...",3000.0,00:50:00
4,4,CHIN 062,CHIN,"kemeny,NH","[{'day': 2, 'end': '17:50', 'start': '16:00'},...","[1, 2, 4]",3,"[1:05:00, 1:05:00, 1:05:00, 0:50...","['16:00:00', '16:00:00', '17:00:00']","['17:50:00', '17:50:00', '17:50:00']",5400.0,01:30:00
5,5,COSC 007,COSC,"25 North Main Street, Hanover","[{'day': 1, 'end': '14:50', 'start': '13:45'},...","[1, 3, 4, 5]",4,"[1:05:00, 1:05:00, 1:05:00, 0:50...","['13:45:00', '13:45:00', '13:45:00', '13:00:00']","['14:50:00', '14:50:00', '14:50:00', '13:50:00']",3675.0,01:01:15
6,6,COSC 020,COSC,"moore Psychology,NH","[{'day': 2, 'end': '15:50', 'start': '14:00'},...","[2, 3, 4]",3,"[1:05:00, 1:05:00, 1:05:00, 0:50...","['14:00:00', '14:00:00', '16:15:00']","['15:50:00', '15:50:00', '17:05:00']",5400.0,01:30:00
7,7,COSC 027,COSC,sudikoff hall,"[{'day': 1, 'end': '16:50', 'start': '15:00'},...","[1, 1, 4]",3,"[1:05:00, 1:05:00, 1:05:00, 0:50...","['15:00:00', '17:00:00', '16:00:00']","['16:50:00', '17:50:00', '17:50:00']",5400.0,01:30:00
8,8,COSC 050,COSC,"kemeny,NH","[{'day': 1, 'end': '13:35', 'start': '12:30'},...","[1, 2, 3, 5]",4,"[1:05:00, 1:05:00, 1:05:00, 0:50...","['12:30:00', '12:30:00', '12:30:00', '13:00:00']","['13:35:00', '13:35:00', '13:35:00', '13:50:00']",3675.0,01:01:15
9,9,COSC 057,COSC,sudikoff hall,"[{'day': 1, 'end': '14:50', 'start': '13:45'},...","[1, 3, 4, 5]",4,"[1:05:00, 1:05:00, 1:05:00, 0:50...","['13:45:00', '13:45:00', '13:45:00', '13:00:00']","['14:50:00', '14:50:00', '14:50:00', '13:50:00']",3675.0,01:01:15
10,10,COSC 060,COSC,silsby hall,"[{'day': 1, 'end': '14:50', 'start': '13:45'},...","[1, 3, 4, 5]",4,"[1:05:00, 1:05:00, 1:05:00, 0:50...","['13:45:00', '13:45:00', '13:45:00', '13:00:00']","['14:50:00', '14:50:00', '14:50:00', '13:50:00']",3675.0,01:01:15
11,11,COSC 065,COSC,silsby hall,"[{'day': 1, 'end': '11:05', 'start': '10:00'},...","[1, 3, 4, 5]",4,"[1:05:00, 1:05:00, 1:05:00, 0:50...","['10:00:00', '10:00:00', '10:00:00', '12:00:00']","['11:05:00', '11:05:00', '11:05:00', '12:50:00']",3675.0,01:01:15
12,12,COSC 069,COSC,sudikoff hall,"[{'day': 2, 'end': '17:50', 'start': '16:00'},...","[1, 2, 4]",3,"[1:05:00, 1:05:00, 1:05:00, 0:50...","['16:00:00', '16:00:00', '17:00:00']","['17:50:00', '17:50:00', '17:50:00']",5400.0,01:30:00
13,13,COSC 070,COSC,sudikoff hall,"[{'day': 2, 'end': '15:50', 'start': '14:00'},...","[2, 3, 4]",3,"[1:05:00, 1:05:00, 1:05:00, 0:50...","['14:00:00', '14:00:00', '16:15:00']","['15:50:00', '15:50:00', '17:05:00']",5400.0,01:30:00
14,14,COSC 077,COSC,"steele hall,NH","[{'day': 2, 'end': '15:50', 'start': '14:00'},...","[2, 3, 4]",3,"[1:05:00, 1:05:00, 1:05:00, 0:50...","['14:00:00', '14:00:00', '16:15:00']","['15:50:00', '15:50:00', '17:05:00']",5400.0,01:30:00
15,15,COSC 089 1,COSC,sudikoff hall,"[{'day': 1, 'end': '12:20', 'start': '11:15'},...","[1, 2, 3, 5]",4,"[1:05:00, 1:05:00, 1:05:00, 0:50...","['11:15:00', '11:15:00', '11:15:00', '12:00:00']","['12:20:00', '12:20:00', '12:20:00', '12:50:00']",3675.0,01:01:15
16,16,COSC 089 2,COSC,sudikoff hall,"[{'day': 2, 'end': '15:50', 'start': '14:00'},...","[2, 3, 4]",3,"[1:05:00, 1:05:00, 1:05:00, 0:50...","['14:00:00', '14:00:00', '16:15:00']","['15:50:00', '15:50:00', '17:05:00']",5400.0,01:30:00
17,17,COSC 089 3,COSC,sudikoff hall,"[{'day': 2, 'end': '11:50', 'start': '10:00'},...","[2, 3, 4]",3,"[1:05:00, 1:05:00, 1:05:00, 0:50...","['10:00:00', '10:00:00', '15:00:00']","['11:50:00', '11:50:00', '15:50:00']",5400.0,01:30:00
18,18,EARS 003,EARS,silsby hall,"[{'day': 1, 'end': '12:20', 'start': '11:15'},...","[1, 2, 3, 5]",4,"[1:05:00, 1:05:00, 1:05:00, 0:50...","['11:15:00', '11:15:00', '11:15:00', '12:00:00']","['12:20:00', '12:20:00', '12:20:00', '12:50:00']",3675.0,01:01:15
19,19,ECON 024,ECON,silsby hall,"[{'day': 1, 'end': '09:50', 'start': '08:45'},...","[1, 3, 4, 5]",4,"[1:05:00, 1:05:00, 1:05:00, 0:50...","['8:45:00', '8:45:00', '8:45:00', '9:00:00']","['9:50:00', '9:50:00', '9:50:00', '9:50:00']",3675.0,01:01:15
20,20,ECON 036,ECON,"kemeny,NH","[{'day': 1, 'end': '09:50', 'start': '08:45'},...","[1, 3, 4, 5]",4,"[1:05:00, 1:05:00, 1:05:00, 0:50...","['8:45:00', '8:45:00', '8:45:00', '9:00:00']","['9:50:00', '9:50:00', '9:50:00', '9:50:00']",3675.0,01:01:15
21,21,ENGL 028,ENGL,silsby hall,"[{'day': 1, 'end': '09:50', 'start': '08:45'},...","[1, 3, 4, 5]",4,"[1:05:00, 1:05:00, 1:05:00, 0:50...","['8:45:00', '8:45:00', '8:45:00', '9:00:00']","['9:50:00', '9:50:00', '9:50:00', '9:50:00']",3675.0,01:01:15
22,22,ENGL 047,ENGL,None,"[{'day': 1, 'end': '12:20', 'start': '11:15'},...","[1, 2, 3, 5]",4,"[1:05:00, 1:05:00, 1:05:00, 0:50...","['11:15:00', '11:15:00', '11:15:00', '12:00:00']","['12:20:00', '12:20:00', '12:20:00', '12:50:00']",3675.0,01:01:15
23,23,ENGL 067,ENGL,None,"[{'day': 2, 'end': '15:50', 'start': '14:00'},...","[2, 3, 4]",3,"[1:05:00, 1:05:00, 1:05:00, 0:50...","['14:00:00', '14:00:00', '16:15:00']","['15:50:00', '15:50:00', '17:05:00']",5400.0,01:30:00
24,24,ENGS 022,ENGS,None,"[{'day': 1, 'end': '09:50', 'start': '08:45'},...","[1, 3, 4, 5]",4,"[1:05:00, 1:05:00, 1:05:00, 0:50...","['8:45:00', '8:45:00', '8:45:00', '9:00:00']","['9:50:00', '9:50:00', '9:50:00', '9:50:00']",3675.0,01:01:15
25,25,ENGS 025,ENGS,None,"[{'day': 1, 'end': '14:50', 'start': '13:45'},...","[1, 3, 4, 5]",4,"[1:05:00, 1:05:00, 1:05:00, 0:50...","['13:45:00', '13:45:00', '13:45:00', '13:00:00']","['14:50:00', '14:50:00', '14:50:00', '13:50:00']",3675.0,01:01:15
26,26,ENGS 069,ENGS,silsby hall,"[{'day': 1, 'end': '11:05', 'start': '10:00'},...","[1, 3, 4, 5]",4,"[1:05:00, 1:05:00, 1:05:00, 0:50...","['10:00:00', '10:00:00', '10:00:00', '12:00:00']","['11:05:00', '11:05:00', '11:05:00', '12:50:00']",3675.0,01:01:15
27,27,ENGS 093,ENGS,"maclean center,nh","[{'day': 1, 'end': '13:35', 'start': '12:30'},...","[1, 2, 3, 5]",4,"[1:05:00, 1:05:00, 1:05:00, 0:50...","['12:30:00', '12:30:00', '12:30:00', '13:00:00']","['13:35:00', '13:35:00', '13:35:00', '13:50:00']",3675.0,01:01:15
28,28,FILM 051,FILM,Black Family Visual Arts Center,"[{'day': 2, 'end': '11:50', 'start': '10:00'},...","[2, 3, 4]",3,"[1:05:00, 1:05:00, 1:05:00, 0:50...","['10:00:00', '10:00:00', '15:00:00']","['11:50:00', '11:50:00', '15:50:00']",5400.0,01:30:00
29,29,GERM 001,GERM,None,"[{'day': 1, 'end': '09:50', 'start': '09:00'},...","[1, 2, 3, 4, 5]",5,"[1:05:00, 1:05:00, 1:05:00, 0:50...","['9:00:00', '9:00:00', '9:00:00', '9:00:00', '...","['9:50:00', '9:50:00', '9:50:00', '9:50:00', '...",3000.0,00:50:00
30,30,HIST 051,HIST,None,"[{'day': 1, 'end': '13:35', 'start': '12:30'},...","[1, 2, 3, 5]",4,"[1:05:00, 1:05:00, 1:05:00, 0:50...","['12:30:00', '12:30:00', '12:30:00', '13:00:00']","['13:35:00', '13:35:00', '13:35:00', '13:50:00']",3675.0,01:01:15
31,31,JAPN 033,JAPN,"Dartmouth Park, Hanover, N.H","[{'day': 1, 'end': '12:20', 'start': '11:15'},...","[1, 2, 3, 5]",4,"[1:05:00, 1:05:00, 1:05:00, 0:50...","['11:15:00', '11:15:00', '11:15:00', '12:00:00']","['12:20:00', '12:20:00', '12:20:00', '12:50:00']",3675.0,01:01:15
32,32,LAT 003,LAT,"Reed Hall,NH","[{'day': 1, 'end': '09:50', 'start': '08:45'},...","[1, 3, 4, 5]",4,"[1:05:00, 1:05:00, 1:05:00, 0:50...","['8:45:00', '8:45:00', '8:45:00', '9:00:00']","['9:50:00', '9:50:00', '9:50:00', '9:50:00']",3675.0,01:01:15
33,33,M&SS 045,M&SS,"kemeny,NH","[{'day': 1, 'end': '09:50', 'start': '08:45'},...","[1, 3, 4, 5]",4,"[1:05:00, 1:05:00, 1:05:00, 0:50...","['8:45:00', '8:45:00', '8:45:00', '9:00:00']","['9:50:00', '9:50:00', '9:50:00', '9:50:00']",3675.0,01:01:15
34,34,MATH 013,MATH,"kemeny,NH","[{'day': 1, 'end': '13:35', 'start': '12:30'},...","[1, 2, 3, 5]",4,"[1:05:00, 1:05:00, 1:05:00, 0:50...","['12:30:00', '12:30:00', '12:30:00', '13:00:00']","['13:35:00', '13:35:00', '13:35:00', '13:50:00']",3675.0,01:01:15
35,35,MATH 022,MATH,"kemeny,NH","[{'day': 1, 'end': '12:20', 'start': '11:15'},...","[1, 2, 3, 5]",4,"[1:05:00, 1:05:00, 1:05:00, 0:50...","['11:15:00', '11:15:00', '11:15:00', '12:00:00']","['12:20:00', '12:20:00', '12:20:00', '12:50:00']",3675.0,01:01:15
36,36,MATH 023,MATH,"kemeny,NH","[{'day': 1, 'end': '12:20', 'start': '11:15'},...","[1, 2, 3, 5]",4,"[1:05:00, 1:05:00, 1:05:00, 0:50...","['11:15:00', '11:15:00', '11:15:00', '12:00:00']","['12:20:00', '12:20:00', '12:20:00', '12:50:00']",3675.0,01:01:15
37,37,MUS 003,MUS,"hopkins center,nh","[{'day': 2, 'end': '15:50', 'start': '14:00'},...","[2, 3, 4]",3,"[1:05:00, 1:05:00, 1:05:00, 0:50...","['14:00:00', '14:00:00', '16:15:00']","['15:50:00', '15:50:00', '17:05:00']",5400.0,01:30:00
38,38,MUS 016,MUS,"hopkins center,nh","[{'day': 2, 'end': '11:50', 'start': '10:00'},...","[2, 3, 4]",3,"[1:05:00, 1:05:00, 1:05:00, 0:50...","['10:00:00', '10:00:00', '15:00:00']","['11:50:00', '11:50:00', '15:50:00']",5400.0,01:30:00
39,39,NAS 008,NAS,"moore Psychology,NH","[{'day': 1, 'end': '13:35', 'start': '12:30'},...","[1, 2, 3, 5]",4,"[1:05:00, 1:05:00, 1:05:00, 0:50...","['12:30:00', '12:30:00', '12:30:00', '13:00:00']","['13:35:00', '13:35:00', '13:35:00', '13:50:00']",3675.0,01:01:15
40,40,NAS 035,NAS,carpenter hall,"[{'day': 1, 'end': '12:20', 'start': '11:15'},...","[1, 2, 3, 5]",4,"[1:05:00, 1:05:00, 1:05:00, 0:50...","['11:15:00', '11:15:00', '11:15:00', '12:00:00']","['12:20:00', '12:20:00', '12:20:00', '12:50:00']",3675.0,01:01:15
41,41,PSYC 028,PSYC,"moore Psychology,NH","[{'day': 1, 'end': '14:50', 'start': '13:45'},...","[1, 3, 4, 5]",4,"[1:05:00, 1:05:00, 1:05:00, 0:50...","['13:45:00', '13:45:00', '13:45:00', '13:00:00']","['14:50:00', '14:50:00', '14:50:00', '13:50:00']",3675.0,01:01:15
42,42,REL 018,REL,None,"[{'day': 1, 'end': '14:50', 'start': '13:45'},...","[1, 3, 4, 5]",4,"[1:05:00, 1:05:00, 1:05:00, 0:50...","['13:45:00', '13:45:00', '13:45:00', '13:00:00']","['14:50:00', '14:50:00', '14:50:00', '13:50:00']",3675.0,01:01:15
43,43,SPAN 003,SPAN,None,"[{'day': 1, 'end': '09:50', 'start': '09:00'},...","[1, 2, 3, 4, 5]",5,"[1:05:00, 1:05:00, 1:05:00, 0:50...","['9:00:00', '9:00:00', '9:00:00', '9:00:00', '...","['9:50:00', '9:50:00', '9:50:00', '9:50:00', '...",3000.0,00:50:00
44,44,TUCK 003,TUCK,None,"[{'day': 2, 'end': '15:50', 'start': '14:00'},...","[2, 3, 4]",3,"[1:05:00, 1:05:00, 1:05:00, 0:50...","['14:00:00', '14:00:00', '16:15:00']","['15:50:00', '15:50:00', '17:05:00']",5400.0,01:30:00

In [9]:
def lat_long_hall(location,i):
    loc=geolocator.geocode(location)
    if i==1:
        return loc.latitude
    else: return loc.longitude
df['latitude']=df['location'].apply(lambda loc:lat_long_hall(loc,1))
df['longitude']=df['location'].apply(lambda loc:lat_long_hall(loc,2))

In [10]:
df

,Unnamed: 0,class_name,class_field,location,periods,day_learn,day_go_to_school,time_learn,start_time,end_time,avg_learn_sub,visualize_time,latitude,longitude
0,0,ANTH 012,ANTH,silsby hall,"[{'day': 1, 'end': '12:20', 'start': '11:15'},...","[1, 2, 3, 5]",4,"[1:05:00, 1:05:00, 1:05:00, 0:50...","['11:15:00', '11:15:00', '11:15:00', '12:00:00']","['12:20:00', '12:20:00', '12:20:00', '12:50:00']",3675.0,01:01:15,43.705596,-72.290017
1,1,BIOL 004,BIOL,silsby hall,"[{'day': 2, 'end': '11:50', 'start': '10:00'},...","[2, 3, 4]",3,"[1:05:00, 1:05:00, 1:05:00, 0:50...","['10:00:00', '10:00:00', '15:00:00']","['11:50:00', '11:50:00', '15:50:00']",5400.0,01:30:00,43.705596,-72.290017
2,2,BIOL 006,BIOL,silsby hall,"[{'day': 2, 'end': '11:50', 'start': '10:00'},...","[2, 3, 4]",3,"[1:05:00, 1:05:00, 1:05:00, 0:50...","['10:00:00', '10:00:00', '15:00:00']","['11:50:00', '11:50:00', '15:50:00']",5400.0,01:30:00,43.705596,-72.290017
3,3,CHIN 033,CHIN,"Reed Hall,NH","[{'day': 1, 'end': '09:50', 'start': '09:00'},...","[1, 2, 3, 4, 5]",5,"[1:05:00, 1:05:00, 1:05:00, 0:50...","['9:00:00', '9:00:00', '9:00:00', '9:00:00', '...","['9:50:00', '9:50:00', '9:50:00', '9:50:00', '...",3000.0,00:50:00,43.703140,-72.287420
4,4,CHIN 062,CHIN,"kemeny,NH","[{'day': 2, 'end': '17:50', 'start': '16:00'},...","[1, 2, 4]",3,"[1:05:00, 1:05:00, 1:05:00, 0:50...","['16:00:00', '16:00:00', '17:00:00']","['17:50:00', '17:50:00', '17:50:00']",5400.0,01:30:00,43.706144,-72.288533
5,5,COSC 007,COSC,"25 North Main Street, Hanover","[{'day': 1, 'end': '14:50', 'start': '13:45'},...","[1, 3, 4, 5]",4,"[1:05:00, 1:05:00, 1:05:00, 0:50...","['13:45:00', '13:45:00', '13:45:00', '13:00:00']","['14:50:00', '14:50:00', '14:50:00', '13:50:00']",3675.0,01:01:15,43.705723,-72.288621
6,6,COSC 020,COSC,"moore Psychology,NH","[{'day': 2, 'end': '15:50', 'start': '14:00'},...","[2, 3, 4]",3,"[1:05:00, 1:05:00, 1:05:00, 0:50...","['14:00:00', '14:00:00', '16:15:00']","['15:50:00', '15:50:00', '17:05:00']",5400.0,01:30:00,43.707300,-72.287877
7,7,COSC 027,COSC,sudikoff hall,"[{'day': 1, 'end': '16:50', 'start': '15:00'},...","[1, 1, 4]",3,"[1:05:00, 1:05:00, 1:05:00, 0:50...","['15:00:00', '17:00:00', '16:00:00']","['16:50:00', '17:50:00', '17:50:00']",5400.0,01:30:00,43.706688,-72.287258
8,8,COSC 050,COSC,"kemeny,NH","[{'day': 1, 'end': '13:35', 'start': '12:30'},...","[1, 2, 3, 5]",4,"[1:05:00, 1:05:00, 1:05:00, 0:50...","['12:30:00', '12:30:00', '12:30:00', '13:00:00']","['13:35:00', '13:35:00', '13:35:00', '13:50:00']",3675.0,01:01:15,43.706144,-72.288533
9,9,COSC 057,COSC,sudikoff hall,"[{'day': 1, 'end': '14:50', 'start': '13:45'},...","[1, 3, 4, 5]",4,"[1:05:00, 1:05:00, 1:05:00, 0:50...","['13:45:00', '13:45:00', '13:45:00', '13:00:00']","['14:50:00', '14:50:00', '14:50:00', '13:50:00']",3675.0,01:01:15,43.706688,-72.287258
10,10,COSC 060,COSC,silsby hall,"[{'day': 1, 'end': '14:50', 'start': '13:45'},...","[1, 3, 4, 5]",4,"[1:05:00, 1:05:00, 1:05:00, 0:50...","['13:45:00', '13:45:00', '13:45:00', '13:00:00']","['14:50:00', '14:50:00', '14:50:00', '13:50:00']",3675.0,01:01:15,43.705596,-72.290017
11,11,COSC 065,COSC,silsby hall,"[{'day': 1, 'end': '11:05', 'start': '10:00'},...","[1, 3, 4, 5]",4,"[1:05:00, 1:05:00, 1:05:00, 0:50...","['10:00:00', '10:00:00', '10:00:00', '12:00:00']","['11:05:00', '11:05:00', '11:05:00', '12:50:00']",3675.0,01:01:15,43.705596,-72.290017
12,12,COSC 069,COSC,sudikoff hall,"[{'day': 2, 'end': '17:50', 'start': '16:00'},...","[1, 2, 4]",3,"[1:05:00, 1:05:00, 1:05:00, 0:50...","['16:00:00', '16:00:00', '17:00:00']","['17:50:00', '17:50:00', '17:50:00']",5400.0,01:30:00,43.706688,-72.287258
13,13,COSC 070,COSC,sudikoff hall,"[{'day': 2, 'end': '15:50', 'start': '14:00'},...","[2, 3, 4]",3,"[1:05:00, 1:05:00, 1:05:00, 0:50...","['14:00:00', '14:00:00', '16:15:00']","['15:50:00', '15:50:00', '17:05:00']",5400.0,01:30:00,43.706688,-72.287258
14,14,COSC 077,COSC,"steele hall,NH","[{'day': 2, 'end': '15:50', 'start': '14:00'},...","[2, 3, 4]",3,"[1:05:00, 1:05:00, 1:05:00, 0:50...","['14:00:00', '14:00:00', '16:15:00']","['15:50:00', '15:50:00', '17:05:00']",5400.0,01:30:00,43.705696,-72.286765
15,15,COSC 089 1,COSC,sudikoff hall,"[{'day': 1, 'end': '12:20', 'start': '11:15'},...","[1, 2, 3, 5]",4,"[1:05:00, 1:05:00, 1:05:00, 0:50...","['11:15:00', '11:15:00', '11:15:00', '12:00:00']","['12:20:00', '12:20:00', '12:20:00', '12:50:00']",3675.0,01:01:15,43.706688,-72.287258
16,16,COSC 089 2,COSC,sudikoff hall,"[{'day': 2, 'end': '15:50', 'start': '14:00'},...","[2, 3, 4]",3,"[1:05:00, 1:05:00, 1:05:00, 0:50...","['14:00:00', '14:00:00', '16:15:00']","['15:50:00', '15:50:00', '17:05:00']",5400.0,01:30:00,43.706688,-72.287258
17,17,COSC 089 3,COSC,sudikoff hall,"[{'day': 2, 'end': '11:50', 'start': '10:00'},...","[2, 3, 4]",3,"[1:05:00, 1:05:00, 1:05:00, 0:50...","['10:00:00', '10:00:00', '15:00:00']","['11:50:00', '11:50:00', '15:50:00']",5400.0,01:30:00,43.706688,-72.287258
18,18,EARS 003,EARS,silsby hall,"[{'day': 1, 'end': '12:20', 'start': '11:15'},...","[1, 2, 3, 5]",4,"[1:05:00, 1:05:00, 1:05:00, 0:50...","['11:15:00', '11:15:00', '11:15:00', '12:00:00']","['12:20:00', '12:20:00', '12:20:00', '12:50:00']",3675.0,01:01:15,43.705596,-72.290017
19,19,ECON 024,ECON,silsby hall,"[{'day': 1, 'end': '09:50', 'start': '08:45'},...","[1, 3, 4, 5]",4,"[1:05:00, 1:05:00, 1:05:00, 0:50...","['8:45:00', '8:45:00', '8:45:00', '9:00:00']","['9:50:00', '9:50:00', '9:50:00', '9:50:00']",3675.0,01:01:15,43.705596,-72.290017
20,20,ECON 036,ECON,"kemeny,NH","[{'day': 1, 'end': '09:50', 'start': '08:45'},...","[1, 3, 4, 5]",4,"[1:05:00, 1:05:00, 1:05:00, 0:50...","['8:45:00', '8:45:00', '8:45:00', '9:00:00']","['9:50:00', '9:50:00', '9:50:00', '9:50:00']",3675.0,01:01:15,43.706144,-72.288533
21,21,ENGL 028,ENGL,silsby hall,"[{'day': 1, 'end': '09:50', 'start': '08:45'},...","[1, 3, 4, 5]",4,"[1:05:00, 1:05:00, 1:05:00, 0:50...","['8:45:00', '8:45:00', '8:45:00', '9:00:00']","['9:50:00', '9:50:00', '9:50:00', '9:50:00']",3675.0,01:01:15,43.705596,-72.290017
22,22,ENGL 047,ENGL,None,"[{'day': 1, 'end': '12:20', 'start': '11:15'},...","[1, 2, 3, 5]",4,"[1:05:00, 1:05:00, 1:05:00, 0:50...","['11:15:00', '11:15:00', '11:15:00', '12:00:00']","['12:20:00', '12:20:00', '12:20:00', '12:50:00']",3675.0,01:01:15,44.933143,7.540121
23,23,ENGL 067,ENGL,None,"[{'day': 2, 'end': '15:50', 'start': '14:00'},...","[2, 3, 4]",3,"[1:05:00, 1:05:00, 1:05:00, 0:50...","['14:00:00', '14:00:00', '16:15:00']","['15:50:00', '15:50:00', '17:05:00']",5400.0,01:30:00,44.933143,7.540121
24,24,ENGS 022,ENGS,None,"[{'day': 1, 'end': '09:50', 'start': '08:45'},...","[1, 3, 4, 5]",4,"[1:05:00, 1:05:00, 1:05:00, 0:50...","['8:45:00', '8:45:00', '8:45:00', '9:00:00']","['9:50:00', '9:50:00', '9:50:00', '9:50:00']",3675.0,01:01:15,44.933143,7.540121
25,25,ENGS 025,ENGS,None,"[{'day': 1, 'end': '14:50', 'start': '13:45'},...","[1, 3, 4, 5]",4,"[1:05:00, 1:05:00, 1:05:00, 0:50...","['13:45:00', '13:45:00', '13:45:00', '13:00:00']","['14:50:00', '14:50:00', '14:50:00', '13:50:00']",3675.0,01:01:15,44.933143,7.540121
26,26,ENGS 069,ENGS,silsby hall,"[{'day': 1, 'end': '11:05', 'start': '10:00'},...","[1, 3, 4, 5]",4,"[1:05:00, 1:05:00, 1:05:00, 0:50...","['10:00:00', '10:00:00', '10:00:00', '12:00:00']","['11:05:00', '11:05:00', '11:05:00', '12:50:00']",3675.0,01:01:15,43.705596,-72.290017
27,27,ENGS 093,ENGS,"maclean center,nh","[{'day': 1, 'end': '13:35', 'start': '12:30'},...","[1, 2, 3, 5]",4,"[1:05:00, 1:05:00, 1:05:00, 0:50...","['12:30:00', '12:30:00', '12:30:00', '13:00:00']","['13:35:00', '13:35:00', '13:35:00', '13:50:00']",3675.0,01:01:15,43.704259,-72.294861
28,28,FILM 051,FILM,Black Family Visual Arts Center,"[{'day': 2, 'end': '11:50', 'start': '10:00'},...","[2, 3, 4]",3,"[1:05:00, 1:05:00, 1:05:00, 0:50...","['10:00:00', '10:00:00', '15:00:00']","['11:50:00', '11:50:00', '15:50:00']",5400.0,01:30:00,43.701385,-72.286843
29,29,GERM 001,GERM,None,"[{'day': 1, 'end': '09:50', 'start': '09:00'},...","[1, 2, 3, 4, 5]",5,"[1:05:00, 1:05:00, 1:05:00, 0:50...","['9:00:00', '9:00:00', '9:00:00', '9:00:00', '...","['9:50:00', '9:50:00', '9:50:00', '9:50:00', '...",3000.0,00:50:00,44.933143,7.540121
30,30,HIST 051,HIST,None,"[{'day': 1, 'end': '13:35', 'start': '12:30'},...","[1, 2, 3, 5]",4,"[1:05:00, 1:05:00, 1:05:00, 0:50...","['12:30:00', '12:30:00', '12:30:00', '13:00:00']","['13:35:00', '13:35:00', '13:35:00', '13:50:00']",3675.0,01:01:15,44.933143,7.540121
31,31,JAPN 033,JAPN,"Dartmouth Park, Hanover, N.H","[{'day': 1, 'end': '12:20', 'start': '11:15'},...","[1, 2, 3, 5]",4,"[1:05:00, 1:05:00, 1:05:00, 0:50...","['11:15:00', '11:15:00', '11:15:00', '12:00:00']","['12:20:00', '12:20:00', '12:20:00', '12:50:00']",3675.0,01:01:15,43.703380,-72.288602
32,32,LAT 003,LAT,"Reed Hall,NH","[{'day': 1, 'end': '09:50', 'start': '08:45'},...","[1, 3, 4, 5]",4,"[1:05:00, 1:05:00, 1:05:00, 0:50...","['8:45:00', '8:45:00', '8:45:00', '9:00:00']","['9:50:00', '9:50:00', '9:50:00', '9:50:00']",3675.0,01:01:15,43.703140,-72.287420
33,33,M&SS 045,M&SS,"kemeny,NH","[{'day': 1, 'end': '09:50', 'start': '08:45'},...","[1, 3, 4, 5]",4,"[1:05:00, 1:05:00, 1:05:00, 0:50...","['8:45:00', '8:45:00', '8:45:00', '9:00:00']","['9:50:00', '9:50:00', '9:50:00', '9:50:00']",3675.0,01:01:15,43.706144,-72.288533
34,34,MATH 013,MATH,"kemeny,NH","[{'day': 1, 'end': '13:35', 'start': '12:30'},...","[1, 2, 3, 5]",4,"[1:05:00, 1:05:00, 1:05:00, 0:50...","['12:30:00', '12:30:00', '12:30:00', '13:00:00']","['13:35:00', '13:35:00', '13:35:00', '13:50:00']",3675.0,01:01:15,43.706144,-72.288533
35,35,MATH 022,MATH,"kemeny,NH","[{'day': 1, 'end': '12:20', 'start': '11:15'},...","[1, 2, 3, 5]",4,"[1:05:00, 1:05:00, 1:05:00, 0:50...","['11:15:00', '11:15:00', '11:15:00', '12:00:00']","['12:20:00', '12:20:00', '12:20:00', '12:50:00']",3675.0,01:01:15,43.706144,-72.288533
36,36,MATH 023,MATH,"kemeny,NH","[{'day': 1, 'end': '12:20', 'start': '11:15'},...","[1, 2, 3, 5]",4,"[1:05:00, 1:05:00, 1:05:00, 0:50...","['11:15:00', '11:15:00', '11:15:00', '12:00:00']","['12:20:00', '12:20:00', '12:20:00', '12:50:00']",3675.0,01:01:15,43.706144,-72.288533
37,37,MUS 003,MUS,"hopkins center,nh","[{'day': 2, 'end': '15:50', 'start': '14:00'},...","[2, 3, 4]",3,"[1:05:00, 1:05:00, 1:05:00, 0:50...","['14:00:00', '14:00:00', '16:15:00']","['15:50:00', '15:50:00', '17:05:00']",5400.0,01:30:00,43.701632,-72.288216
38,38,MUS 016,MUS,"hopkins center,nh","[{'day': 2, 'end': '11:50', 'start': '10:00'},...","[2, 3, 4]",3,"[1:05:00, 1:05:00, 1:05:00, 0:50...","['10:00:00', '10:00:00', '15:00:00']","['11:50:00', '11:50:00', '15:50:00']",5400.0,01:30:00,43.701632,-72.288216
39,39,NAS 008,NAS,"moore Psychology,NH","[{'day': 1, 'end': '13:35', 'start': '12:30'},...","[1, 2, 3, 5]",4,"[1:05:00, 1:05:00, 1:05:00, 0:50...","['12:30:00', '12:30:00', '12:30:00', '13:00:00']","['13:35:00', '13:35:00', '13:35:00', '13:50:00']",3675.0,01:01:15,43.707300,-72.287877
40,40,NAS 035,NAS,carpenter hall,"[{'day': 1, 'end': '12:20', 'start': '11:15'},...","[1, 2, 3, 5]",4,"[1:05:00, 1:05:00, 1:05:00, 0:50...","['11:15:00', '11:15:00', '11:15:00', '12:00:00']","['12:20:00', '12:20:00', '12:20:00', '12:50:00']",3675.0,01:01:15,39.162168,-75.528335
41,41,PSYC 028,PSYC,"moore Psychology,NH","[{'day': 1, 'end': '14:50', 'start': '13:45'},...","[1, 3, 4, 5]",4,"[1:05:00, 1:05:00, 1:05:00, 0:50...","['13:45:00', '13:45:00', '13:45:00', '13:00:00']","['14:50:00', '14:50:00', '14:50:00', '13:50:00']",3675.0,01:01:15,43.707300,-72.287877
42,42,REL 018,REL,None,"[{'day': 1, 'end': '14:50', 'start': '13:45'},...","[1, 3, 4, 5]",4,"[1:05:00, 1:05:00, 1:05:00, 0:50...","['13:45:00', '13:45:00', '13:45:00', '13:00:00']","['14:50:00', '14:50:00', '14:50:00', '13:50:00']",3675.0,01:01:15,44.933143,7.540121
43,43,SPAN 003,SPAN,None,"[{'day': 1, 'end': '09:50', 'start': '09:00'},...","[1, 2, 3, 4, 5]",5,"[1:05:00, 1:05:00, 1:05:00, 0:50...","['9:00:00', '9:00:00', '9:00:00', '9:00:00', '...","['9:50:00', '9:50:00', '9:50:00', '9:50:00', '...",3000.0,00:50:00,44.933143,7.540121
44,44,TUCK 003,TUCK,None,"[{'day': 2, 'end': '15:50', 'start': '14:00'},...","[2, 3, 4]",3,"[1:05:00, 1:05:00, 1:05:00, 0:50...","['14:00:00', '14:00:00', '16:15:00']","['15:50:00', '15:50:00', '17:05:00']",5400.0,01:30:00,44.933143,7.540121

In [11]:
df.to_csv('class_data_with_coords')