In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
df=pd.read_csv('./working_gps.csv')
df

,Unnamed: 0,tnv,time,provider,network_type,accuracy,latitude,longitude,altitude,bearing,speed,travelstate,distance,velocity,accelerate,date,time in date,hour in date,min in date
0,0,1,1364356963,network,wifi,24.0,43.759135,-72.329240,0.000000,0.0,0.0,stationary,0.000000,0.000000,0.000000e+00,"Wednesday, 27 March, 2013",11 h 02 min 43 sec,11,2
1,1,1,1364358144,gps,NaN,22.0,43.759503,-72.329018,250.899994,0.0,0.0,NaN,50.552643,0.042805,3.624466e-05,"Wednesday, 27 March, 2013",11 h 22 min 24 sec,11,22
2,2,1,1364359364,network,wifi,23.0,43.759134,-72.329238,0.000000,0.0,0.0,stationary,50.580087,0.041459,3.398286e-05,"Wednesday, 27 March, 2013",11 h 42 min 44 sec,11,42
3,3,1,1364360563,network,wifi,25.0,43.759135,-72.329240,0.000000,0.0,0.0,stationary,0.027444,0.000023,1.909046e-08,"Wednesday, 27 March, 2013",12 h 02 min 43 sec,12,2
4,4,1,1364361763,network,wifi,25.0,43.759135,-72.329240,0.000000,0.0,0.0,stationary,0.000000,0.000000,0.000000e+00,"Wednesday, 27 March, 2013",12 h 22 min 43 sec,12,22
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
202872,202872,60,1370056628,network,wifi,22.0,40.914261,-73.792014,0.000000,0.0,0.0,stationary,0.738769,0.001229,2.045313e-06,"Saturday, 01 June, 2013",10 h 17 min 08 sec,10,17
202873,202873,60,1370057227,network,wifi,36.0,40.914236,-73.792047,0.000000,0.0,0.0,stationary,3.401125,0.005678,9.479141e-06,"Saturday, 01 June, 2013",10 h 27 min 07 sec,10,27
202874,202874,60,1370057827,network,wifi,39.0,40.914250,-73.792028,0.000000,0.0,0.0,stationary,1.923587,0.003206,5.343298e-06,"Saturday, 01 June, 2013",10 h 37 min 07 sec,10,37
202875,202875,60,1370058427,network,wifi,39.0,40.914247,-73.792007,0.000000,0.0,0.0,stationary,0.487866,0.000813,1.355184e-06,"Saturday, 01 June, 2013",10 h 47 min 07 sec,10,47
202876,202876,60,1370059028,network,wifi,36.0,40.914270,-73.791962,0.000000,0.0,0.0,stationary,3.192039,0.005311,8.837294e-06,"Saturday, 01 June, 2013",10 h 57 min 08 sec,10,57

In [3]:
data=df[['tnv','distance','velocity','accelerate','hour in date','min in date','latitude','longitude','time']]
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 202877 entries, 0 to 202876
Data columns (total 9 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   tnv           202877 non-null  int64
 1   distance      202877 non-null  float64
 2   velocity      202877 non-null  float64
 3   accelerate    202877 non-null  float64
 4   hour in date  202877 non-null  int64
 5   min in date   202877 non-null  int64
 6   latitude      202877 non-null  float64
 7   longitude     202877 non-null  float64
 8   time          202877 non-null  int64
dtypes: float64(5), int64(4)
memory usage: 13.9 MB

In [4]:
def moving(x):
    if x>20: return True
    else: return False
data['moving']=data['distance'].apply(lambda x: moving(x))
data

/var/folders/qq/ckqvfttx4vs_68cbq08jts2c0000gn/T/ipykernel_46216/3081535776.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['moving']=data['distance'].apply(lambda x: moving(x))

,tnv,distance,velocity,accelerate,hour in date,min in date,latitude,longitude,time,moving
0,1,0.000000,0.000000,0.000000e+00,11,2,43.759135,-72.329240,1364356963,False
1,1,50.552643,0.042805,3.624466e-05,11,22,43.759503,-72.329018,1364358144,True
2,1,50.580087,0.041459,3.398286e-05,11,42,43.759134,-72.329238,1364359364,True
3,1,0.027444,0.000023,1.909046e-08,12,2,43.759135,-72.329240,1364360563,False
4,1,0.000000,0.000000,0.000000e+00,12,22,43.759135,-72.329240,1364361763,False
...,...,...,...,...,...,...,...,...,...,...
202872,60,0.738769,0.001229,2.045313e-06,10,17,40.914261,-73.792014,1370056628,False
202873,60,3.401125,0.005678,9.479141e-06,10,27,40.914236,-73.792047,1370057227,False
202874,60,1.923587,0.003206,5.343298e-06,10,37,40.914250,-73.792028,1370057827,False
202875,60,0.487866,0.000813,1.355184e-06,10,47,40.914247,-73.792007,1370058427,False
202876,60,3.192039,0.005311,8.837294e-06,10,57,40.914270,-73.791962,1370059028,False

In [5]:

inactive_val=[1]
def inactive(df,inactive_val,i):
    if i!=len(df)-1:
        if df['tnv'].iloc[i]!=df['tnv'].iloc[i-1]:
            if df['moving'].iloc[i]==False: return inactive_val.append(1)
            else:return inactive_val.append(2)
        else:
            if df['moving'].iloc[i]==False:
                if df['moving'].iloc[i+1]==False:
                    return inactive_val.append(np.nan)
                else: return inactive_val.append(1)
            else:return inactive_val.append(2)
    else: 
        if df['moving'].iloc[i]==False: return inactive_val.append(1)
        else:return inactive_val.append(2)
for i in range(1,len(data)):
    inactive(data,inactive_val,i) 
print(len(inactive_val))
data['inactive']=inactive_val
data.to_csv('check.csv')

202877

/var/folders/qq/ckqvfttx4vs_68cbq08jts2c0000gn/T/ipykernel_46216/3089062827.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['inactive']=inactive_val

In [6]:
data=data.dropna()
data.to_csv('check_inactive.csv')

In [7]:
data

,tnv,distance,velocity,accelerate,hour in date,min in date,latitude,longitude,time,moving,inactive
0,1,0.000000,0.000000,0.000000e+00,11,2,43.759135,-72.329240,1364356963,False,1.0
1,1,50.552643,0.042805,3.624466e-05,11,22,43.759503,-72.329018,1364358144,True,2.0
2,1,50.580087,0.041459,3.398286e-05,11,42,43.759134,-72.329238,1364359364,True,2.0
6,1,0.054889,0.000046,3.811730e-08,13,2,43.759134,-72.329241,1364364163,False,1.0
7,1,20740.597182,17.269440,1.437922e-02,13,22,43.608052,-72.162171,1364365364,True,2.0
...,...,...,...,...,...,...,...,...,...,...,...
202859,60,5808.539653,9.680899,1.613483e-02,8,7,40.863273,-73.890255,1370048829,True,2.0
202860,60,6743.077117,11.276049,1.885627e-02,8,17,40.911641,-73.811826,1370049427,True,2.0
202861,60,44.853843,0.074508,1.237675e-04,8,27,40.911320,-73.784540,1370050029,True,2.0
202862,60,408.470128,0.681920,1.138431e-03,8,37,40.914250,-73.792058,1370050628,True,2.0
202876,60,3.192039,0.005311,8.837294e-06,10,57,40.914270,-73.791962,1370059028,False,1.0

In [8]:
data['inactive']=data['inactive']-1

/var/folders/qq/ckqvfttx4vs_68cbq08jts2c0000gn/T/ipykernel_46216/2778929147.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['inactive']=data['inactive']-1

In [9]:
data=data.reset_index(drop=True)
data

,tnv,distance,velocity,accelerate,hour in date,min in date,latitude,longitude,time,moving,inactive
0,1,0.000000,0.000000,0.000000e+00,11,2,43.759135,-72.329240,1364356963,False,0.0
1,1,50.552643,0.042805,3.624466e-05,11,22,43.759503,-72.329018,1364358144,True,1.0
2,1,50.580087,0.041459,3.398286e-05,11,42,43.759134,-72.329238,1364359364,True,1.0
3,1,0.054889,0.000046,3.811730e-08,13,2,43.759134,-72.329241,1364364163,False,0.0
4,1,20740.597182,17.269440,1.437922e-02,13,22,43.608052,-72.162171,1364365364,True,1.0
...,...,...,...,...,...,...,...,...,...,...,...
48084,60,5808.539653,9.680899,1.613483e-02,8,7,40.863273,-73.890255,1370048829,True,1.0
48085,60,6743.077117,11.276049,1.885627e-02,8,17,40.911641,-73.811826,1370049427,True,1.0
48086,60,44.853843,0.074508,1.237675e-04,8,27,40.911320,-73.784540,1370050029,True,1.0
48087,60,408.470128,0.681920,1.138431e-03,8,37,40.914250,-73.792058,1370050628,True,1.0
48088,60,3.192039,0.005311,8.837294e-06,10,57,40.914270,-73.791962,1370059028,False,0.0

In [10]:
time_difference=[0]
def time_inactive(df,i,time_difference):
    hour=df['hour in date'].iloc[i]-df['hour in date'].iloc[i-1]
    if hour<0:
        hour=24+hour
    minute=df['min in date'].iloc[i]-df['min in date'].iloc[i-1]
    time=hour*60+minute
    return time_difference.append(time)
for i in range(1,len(data)):
    time_inactive(data,i,time_difference)
print(len(time_difference))
data['time_difference']=time_difference

48089

In [11]:
data['time_difference'].sort_values()

6376      -41
40436     -32
21608     -32
8747      -27
15015     -21
         ...
40781    1400
17629    1400
15083    1410
34041    1416
4324     1426
Name: time_difference, Length: 48089, dtype: int64

In [12]:
data.iloc[6375:6378]

,tnv,distance,velocity,accelerate,hour in date,min in date,latitude,longitude,time,moving,inactive,time_difference
6375,6,2.457005,0.004095,6.825013e-06,19,44,43.706575,-72.287022,1367930693,False,0.0,50
6376,6,338.849372,0.004039,4.815004e-08,19,3,43.704106,-72.290678,1368014582,True,1.0,-41
6377,6,1.509912,0.002517,4.194200e-06,19,43,43.704108,-72.290692,1368016988,False,0.0,40

In [13]:
data=data[data['time_difference']>0]
data.describe()

,tnv,distance,velocity,accelerate,hour in date,min in date,latitude,longitude,time,inactive,time_difference
count,47602.000000,4.760200e+04,47602.000000,47602.000000,47602.000000,47602.000000,47602.000000,47602.000000,4.760200e+04,47602.000000,47602.000000
mean,30.761355,1.796054e+03,1.235525,0.016961,10.744380,28.812676,43.629738,-72.337715,1.366997e+09,0.655582,76.449078
std,19.298094,2.345184e+04,12.317564,0.520664,7.844503,17.528852,0.819158,3.532595,1.581804e+06,0.475183,167.932453
min,1.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000,29.902793,-122.253150,1.364357e+09,0.000000,1.000000
25%,13.000000,6.753314e+00,0.006522,0.000006,4.000000,13.000000,43.702712,-72.290670,1.365633e+09,0.000000,20.000000
50%,32.000000,3.981505e+01,0.039937,0.000036,9.000000,28.000000,43.705337,-72.288286,1.366862e+09,1.000000,20.000000
75%,50.000000,2.817196e+02,0.262528,0.000239,19.000000,44.000000,43.706728,-72.286443,1.368295e+09,1.000000,40.000000
max,60.000000,1.947670e+06,431.783546,72.764790,23.000000,59.000000,51.532022,12.349041,1.370059e+09,1.000000,1426.000000

#### filter inactive

In [14]:
def filter_data(df,i):
    if df['inactive'].iloc[i]==0:
        if df['time_difference'].iloc[i]>60:
            df['time_difference'].iloc[i]=np.nan
for i in range(len(data)):
    filter_data(data,i)
data=data.dropna()
data=data.reset_index(drop=True)

/var/folders/qq/ckqvfttx4vs_68cbq08jts2c0000gn/T/ipykernel_46216/61217442.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['time_difference'].iloc[i]=np.nan

In [15]:
data

,tnv,distance,velocity,accelerate,hour in date,min in date,latitude,longitude,time,moving,inactive,time_difference
0,1,50.552643,0.042805,0.000036,11,22,43.759503,-72.329018,1364358144,True,1.0,20.0
1,1,50.580087,0.041459,0.000034,11,42,43.759134,-72.329238,1364359364,True,1.0,20.0
2,1,20740.597182,17.269440,0.014379,13,22,43.608052,-72.162171,1364365364,True,1.0,20.0
3,1,12115.825688,5.058800,0.002112,14,2,43.696293,-72.283302,1364367763,True,1.0,40.0
4,1,8624.832154,7.187360,0.005989,18,22,43.759135,-72.329232,1364383363,True,1.0,20.0
...,...,...,...,...,...,...,...,...,...,...,...,...
39571,60,9540.162730,3.980043,0.001660,7,57,40.821618,-73.919298,1370048229,True,1.0,40.0
39572,60,5808.539653,9.680899,0.016135,8,7,40.863273,-73.890255,1370048829,True,1.0,10.0
39573,60,6743.077117,11.276049,0.018856,8,17,40.911641,-73.811826,1370049427,True,1.0,10.0
39574,60,44.853843,0.074508,0.000124,8,27,40.911320,-73.784540,1370050029,True,1.0,10.0
39575,60,408.470128,0.681920,0.001138,8,37,40.914250,-73.792058,1370050628,True,1.0,10.0

In [16]:
data.to_csv('filtered_inactive_data.csv')