In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [9]:
data=pd.read_csv('./Stress_csv_new/Stress_u01.csv')
data=data.drop(["Unnamed: 0"],axis=1)
data

    level            resp_time          time
0     4.0  2013-03-27 04:45:45  1.364360e+09
1     1.0  2013-03-30 22:27:26  1.364682e+09
2     1.0  2013-03-29 19:45:25  1.364586e+09
3     4.0  2013-03-28 23:53:09  1.364515e+09
4     5.0  2013-03-30 00:32:58  1.364604e+09
5     1.0  2013-03-31 18:49:27  1.364756e+09
6     2.0  2013-04-01 02:45:54  1.364784e+09
7     1.0  2013-04-03 06:03:04  1.364969e+09
8     4.0  2013-04-04 07:28:35  1.365061e+09
9     4.0  2013-04-05 06:08:42  1.365142e+09
10    4.0  2013-04-06 01:26:41  1.365212e+09
11    5.0  2013-04-06 09:39:30  1.365241e+09
12    1.0  2013-04-07 21:21:54  1.365370e+09
13    1.0  2013-04-09 04:50:01  1.365483e+09
14    1.0  2013-04-10 22:33:15  1.365633e+09
15    2.0  2013-04-10 02:59:22  1.365563e+09
16    1.0  2013-04-16 04:24:02  1.366086e+09
17    1.0  2013-04-11 02:03:16  1.365646e+09
18    1.0  2013-04-12 02:44:19  1.365735e+09
19    4.0  2013-04-13 22:54:36  1.365894e+09
20    1.0  2013-04-14 23:14:15  1.365981e+09
21    1.0  2013-04-16 01:52:24  1.366077e+09
22    1.0  2013-04-17 04:01:47  1.366171e+09
23    4.0  2013-04-19 00:32:42  1.366332e+09
24    4.0  2013-04-20 06:44:52  1.366440e+09
25    2.0  2013-04-28 07:47:46  1.367135e+09
26    2.0  2013-04-28 21:44:49  1.367185e+09
27    1.0  2013-04-26 18:03:22  1.366999e+09
28    2.0  2013-04-28 19:34:02  1.367178e+09
29    3.0  2013-04-29 05:50:08  1.367215e+09
30    2.0  2013-04-30 05:58:15  1.367301e+09
31    1.0  2013-05-07 05:04:20  1.367903e+09

In [11]:
from datetime import datetime
def changedate(x):
    day=datetime.fromtimestamp(x).strftime(" %d/%m/%Y ")
    return day
data['date']=data['time'].apply(lambda time:changedate(time))

In [14]:
data.sort_values('time')

    level            resp_time          time          date
0     4.0  2013-03-27 04:45:45  1.364360e+09   27/03/2013
3     4.0  2013-03-28 23:53:09  1.364515e+09   29/03/2013
2     1.0  2013-03-29 19:45:25  1.364586e+09   30/03/2013
4     5.0  2013-03-30 00:32:58  1.364604e+09   30/03/2013
1     1.0  2013-03-30 22:27:26  1.364682e+09   31/03/2013
5     1.0  2013-03-31 18:49:27  1.364756e+09   01/04/2013
6     2.0  2013-04-01 02:45:54  1.364784e+09   01/04/2013
7     1.0  2013-04-03 06:03:04  1.364969e+09   03/04/2013
8     4.0  2013-04-04 07:28:35  1.365061e+09   04/04/2013
9     4.0  2013-04-05 06:08:42  1.365142e+09   05/04/2013
10    4.0  2013-04-06 01:26:41  1.365212e+09   06/04/2013
11    5.0  2013-04-06 09:39:30  1.365241e+09   06/04/2013
12    1.0  2013-04-07 21:21:54  1.365370e+09   08/04/2013
13    1.0  2013-04-09 04:50:01  1.365483e+09   09/04/2013
15    2.0  2013-04-10 02:59:22  1.365563e+09   10/04/2013
14    1.0  2013-04-10 22:33:15  1.365633e+09   11/04/2013
17    1.0  2013-04-11 02:03:16  1.365646e+09   11/04/2013
18    1.0  2013-04-12 02:44:19  1.365735e+09   12/04/2013
19    4.0  2013-04-13 22:54:36  1.365894e+09   14/04/2013
20    1.0  2013-04-14 23:14:15  1.365981e+09   15/04/2013
21    1.0  2013-04-16 01:52:24  1.366077e+09   16/04/2013
16    1.0  2013-04-16 04:24:02  1.366086e+09   16/04/2013
22    1.0  2013-04-17 04:01:47  1.366171e+09   17/04/2013
23    4.0  2013-04-19 00:32:42  1.366332e+09   19/04/2013
24    4.0  2013-04-20 06:44:52  1.366440e+09   20/04/2013
27    1.0  2013-04-26 18:03:22  1.366999e+09   27/04/2013
25    2.0  2013-04-28 07:47:46  1.367135e+09   28/04/2013
28    2.0  2013-04-28 19:34:02  1.367178e+09   29/04/2013
26    2.0  2013-04-28 21:44:49  1.367185e+09   29/04/2013
29    3.0  2013-04-29 05:50:08  1.367215e+09   29/04/2013
30    2.0  2013-04-30 05:58:15  1.367301e+09   30/04/2013
31    1.0  2013-05-07 05:04:20  1.367903e+09   07/05/2013

In [44]:
df=data.groupby("date")
out_data=df[['level',"time"]].mean()

In [22]:
df.to_csv("test.csv")

AttributeError: 'DataFrameGroupBy' object has no attribute 'to_csv'

In [49]:
out_data.to_csv("test")