In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from datetime import datetime
import re

In [2]:

df=pd.read_json('./dataset/education/class_info.json')
df=df.T
df.periods=df.periods.to_list()
df

,location,periods
ANTH 012,silsby-rocky,"[{'day': 1, 'end': '12:20', 'start': '11:15'},..."
BIOL 004,lsb,"[{'day': 2, 'end': '11:50', 'start': '10:00'},..."
BIOL 006,lsb,"[{'day': 2, 'end': '11:50', 'start': '10:00'},..."
CHIN 033,reed,"[{'day': 1, 'end': '09:50', 'start': '09:00'},..."
CHIN 062,kemeny,"[{'day': 2, 'end': '17:50', 'start': '16:00'},..."
COSC 007,baker-berry,"[{'day': 1, 'end': '14:50', 'start': '13:45'},..."
COSC 020,moore,"[{'day': 2, 'end': '15:50', 'start': '14:00'},..."
COSC 027,sudikoff,"[{'day': 1, 'end': '16:50', 'start': '15:00'},..."
COSC 050,kemeny,"[{'day': 1, 'end': '13:35', 'start': '12:30'},..."
COSC 057,sudikoff,"[{'day': 1, 'end': '14:50', 'start': '13:45'},..."
COSC 060,lsb,"[{'day': 1, 'end': '14:50', 'start': '13:45'},..."
COSC 065,lsb,"[{'day': 1, 'end': '11:05', 'start': '10:00'},..."
COSC 069,sudikoff,"[{'day': 2, 'end': '17:50', 'start': '16:00'},..."
COSC 070,sudikoff,"[{'day': 2, 'end': '15:50', 'start': '14:00'},..."
COSC 077,steele,"[{'day': 2, 'end': '15:50', 'start': '14:00'},..."
COSC 089 1,sudikoff,"[{'day': 1, 'end': '12:20', 'start': '11:15'},..."
COSC 089 2,sudikoff,"[{'day': 2, 'end': '15:50', 'start': '14:00'},..."
COSC 089 3,sudikoff,"[{'day': 2, 'end': '11:50', 'start': '10:00'},..."
EARS 003,lsb,"[{'day': 1, 'end': '12:20', 'start': '11:15'},..."
ECON 024,silsby-rocky,"[{'day': 1, 'end': '09:50', 'start': '08:45'},..."
ECON 036,kemeny,"[{'day': 1, 'end': '09:50', 'start': '08:45'},..."
ENGL 028,lsb,"[{'day': 1, 'end': '09:50', 'start': '08:45'},..."
ENGL 047,dartmouth_hall,"[{'day': 1, 'end': '12:20', 'start': '11:15'},..."
ENGL 067,carson-tech_services,"[{'day': 2, 'end': '15:50', 'start': '14:00'},..."
ENGS 022,cummings,"[{'day': 1, 'end': '09:50', 'start': '08:45'},..."
ENGS 025,cummings,"[{'day': 1, 'end': '14:50', 'start': '13:45'},..."
ENGS 069,lsb,"[{'day': 1, 'end': '11:05', 'start': '10:00'},..."
ENGS 093,maclean,"[{'day': 1, 'end': '13:35', 'start': '12:30'},..."
FILM 051,vac,"[{'day': 2, 'end': '11:50', 'start': '10:00'},..."
GERM 001,dartmouth_hall,"[{'day': 1, 'end': '09:50', 'start': '09:00'},..."
HIST 051,carson-tech_services,"[{'day': 1, 'end': '13:35', 'start': '12:30'},..."
JAPN 033,batrlett,"[{'day': 1, 'end': '12:20', 'start': '11:15'},..."
LAT 003,reed,"[{'day': 1, 'end': '09:50', 'start': '08:45'},..."
M&SS 045,kemeny,"[{'day': 1, 'end': '09:50', 'start': '08:45'},..."
MATH 013,kemeny,"[{'day': 1, 'end': '13:35', 'start': '12:30'},..."
MATH 022,kemeny,"[{'day': 1, 'end': '12:20', 'start': '11:15'},..."
MATH 023,kemeny,"[{'day': 1, 'end': '12:20', 'start': '11:15'},..."
MUS 003,hopkins,"[{'day': 2, 'end': '15:50', 'start': '14:00'},..."
MUS 016,hopkins,"[{'day': 2, 'end': '11:50', 'start': '10:00'},..."
NAS 008,moore,"[{'day': 1, 'end': '13:35', 'start': '12:30'},..."
NAS 035,carpenterhall,"[{'day': 1, 'end': '12:20', 'start': '11:15'},..."
PSYC 028,moore,"[{'day': 1, 'end': '14:50', 'start': '13:45'},..."
REL 018,carson-tech_services,"[{'day': 1, 'end': '14:50', 'start': '13:45'},..."
SPAN 003,dartmouth_hall,"[{'day': 1, 'end': '09:50', 'start': '09:00'},..."
TUCK 003,carson-tech_services,"[{'day': 2, 'end': '15:50', 'start': '14:00'},..."

In [3]:
from datetime import timedelta
def day_learning(ls):
    x = list(map(lambda x: x["day"], ls))
    x.sort()
    return x
def time_learning(ls,n):
    x = list(map(lambda x: (datetime.strptime(x["start"],'%H:%M')
                                             -datetime(1900,1,1)), ls))
    y= list(map(lambda x: datetime.strptime(x["end"],'%H:%M')-datetime(1900,1,1), ls))
    
    x=np.array(x)
    y=np.array(y)
    X_sec=list(map(lambda x: (datetime.strptime(x["start"],'%H:%M')
                                             -datetime(1900,1,1)).total_seconds(), ls))
    Y_sec=list(map(lambda x: (datetime.strptime(x["end"],'%H:%M')
                                             -datetime(1900,1,1)).total_seconds(), ls))
    
    time=np.subtract(Y_sec,X_sec)
    time=time
    x=x.astype(str).tolist()
    y=y.astype(str).tolist()
    
    match n:
        case 1:return time 
        case 2: return x
        case 3:return y
def time_visualize(s):
    return'{:02}:{:02}:\
{:02}'.format(int(s // 3600),int( s % 3600 // 60),int( s % 60))
df["day_learn"]=df["periods"].apply(lambda ls:day_learning(ls))
df["day_go_to_school"]=df["day_learn"].apply(lambda ls:len(ls))
df["time_learn"]=df["periods"].apply(lambda ls:time_learning(ls,1))
df["start_time"]=df["periods"].apply(lambda ls:time_learning(ls,2))
df["end_time"]=df["periods"].apply(lambda ls:time_learning(ls,3))
df["avg_learn_sub"]=df["time_learn"].apply(lambda ls:np.average(ls))
df["visualize_time"]=df["avg_learn_sub"].apply(lambda s: time_visualize(s))
df=df.reset_index(names='class_name')
df

,class_name,location,periods,day_learn,day_go_to_school,time_learn,start_time,end_time,avg_learn_sub,visualize_time
0,ANTH 012,silsby-rocky,"[{'day': 1, 'end': '12:20', 'start': '11:15'},...","[1, 2, 3, 5]",4,"[3900.0, 3900.0, 3900.0, 3000.0]","[11:15:00, 11:15:00, 11:15:00, 12:00:00]","[12:20:00, 12:20:00, 12:20:00, 12:50:00]",3675.0,01:01:15
1,BIOL 004,lsb,"[{'day': 2, 'end': '11:50', 'start': '10:00'},...","[2, 3, 4]",3,"[6600.0, 6600.0, 3000.0]","[10:00:00, 10:00:00, 15:00:00]","[11:50:00, 11:50:00, 15:50:00]",5400.0,01:30:00
2,BIOL 006,lsb,"[{'day': 2, 'end': '11:50', 'start': '10:00'},...","[2, 3, 4]",3,"[6600.0, 6600.0, 3000.0]","[10:00:00, 10:00:00, 15:00:00]","[11:50:00, 11:50:00, 15:50:00]",5400.0,01:30:00
3,CHIN 033,reed,"[{'day': 1, 'end': '09:50', 'start': '09:00'},...","[1, 2, 3, 4, 5]",5,"[3000.0, 3000.0, 3000.0, 3000.0, 3000.0]","[9:00:00, 9:00:00, 9:00:00, 9:00:00, 9:00:00]","[9:50:00, 9:50:00, 9:50:00, 9:50:00, 9:50:00]",3000.0,00:50:00
4,CHIN 062,kemeny,"[{'day': 2, 'end': '17:50', 'start': '16:00'},...","[1, 2, 4]",3,"[6600.0, 6600.0, 3000.0]","[16:00:00, 16:00:00, 17:00:00]","[17:50:00, 17:50:00, 17:50:00]",5400.0,01:30:00
5,COSC 007,baker-berry,"[{'day': 1, 'end': '14:50', 'start': '13:45'},...","[1, 3, 4, 5]",4,"[3900.0, 3900.0, 3900.0, 3000.0]","[13:45:00, 13:45:00, 13:45:00, 13:00:00]","[14:50:00, 14:50:00, 14:50:00, 13:50:00]",3675.0,01:01:15
6,COSC 020,moore,"[{'day': 2, 'end': '15:50', 'start': '14:00'},...","[2, 3, 4]",3,"[6600.0, 6600.0, 3000.0]","[14:00:00, 14:00:00, 16:15:00]","[15:50:00, 15:50:00, 17:05:00]",5400.0,01:30:00
7,COSC 027,sudikoff,"[{'day': 1, 'end': '16:50', 'start': '15:00'},...","[1, 1, 4]",3,"[6600.0, 3000.0, 6600.0]","[15:00:00, 17:00:00, 16:00:00]","[16:50:00, 17:50:00, 17:50:00]",5400.0,01:30:00
8,COSC 050,kemeny,"[{'day': 1, 'end': '13:35', 'start': '12:30'},...","[1, 2, 3, 5]",4,"[3900.0, 3900.0, 3900.0, 3000.0]","[12:30:00, 12:30:00, 12:30:00, 13:00:00]","[13:35:00, 13:35:00, 13:35:00, 13:50:00]",3675.0,01:01:15
9,COSC 057,sudikoff,"[{'day': 1, 'end': '14:50', 'start': '13:45'},...","[1, 3, 4, 5]",4,"[3900.0, 3900.0, 3900.0, 3000.0]","[13:45:00, 13:45:00, 13:45:00, 13:00:00]","[14:50:00, 14:50:00, 14:50:00, 13:50:00]",3675.0,01:01:15
10,COSC 060,lsb,"[{'day': 1, 'end': '14:50', 'start': '13:45'},...","[1, 3, 4, 5]",4,"[3900.0, 3900.0, 3900.0, 3000.0]","[13:45:00, 13:45:00, 13:45:00, 13:00:00]","[14:50:00, 14:50:00, 14:50:00, 13:50:00]",3675.0,01:01:15
11,COSC 065,lsb,"[{'day': 1, 'end': '11:05', 'start': '10:00'},...","[1, 3, 4, 5]",4,"[3900.0, 3900.0, 3900.0, 3000.0]","[10:00:00, 10:00:00, 10:00:00, 12:00:00]","[11:05:00, 11:05:00, 11:05:00, 12:50:00]",3675.0,01:01:15
12,COSC 069,sudikoff,"[{'day': 2, 'end': '17:50', 'start': '16:00'},...","[1, 2, 4]",3,"[6600.0, 6600.0, 3000.0]","[16:00:00, 16:00:00, 17:00:00]","[17:50:00, 17:50:00, 17:50:00]",5400.0,01:30:00
13,COSC 070,sudikoff,"[{'day': 2, 'end': '15:50', 'start': '14:00'},...","[2, 3, 4]",3,"[6600.0, 6600.0, 3000.0]","[14:00:00, 14:00:00, 16:15:00]","[15:50:00, 15:50:00, 17:05:00]",5400.0,01:30:00
14,COSC 077,steele,"[{'day': 2, 'end': '15:50', 'start': '14:00'},...","[2, 3, 4]",3,"[6600.0, 6600.0, 3000.0]","[14:00:00, 14:00:00, 16:15:00]","[15:50:00, 15:50:00, 17:05:00]",5400.0,01:30:00
15,COSC 089 1,sudikoff,"[{'day': 1, 'end': '12:20', 'start': '11:15'},...","[1, 2, 3, 5]",4,"[3900.0, 3900.0, 3900.0, 3000.0]","[11:15:00, 11:15:00, 11:15:00, 12:00:00]","[12:20:00, 12:20:00, 12:20:00, 12:50:00]",3675.0,01:01:15
16,COSC 089 2,sudikoff,"[{'day': 2, 'end': '15:50', 'start': '14:00'},...","[2, 3, 4]",3,"[6600.0, 6600.0, 3000.0]","[14:00:00, 14:00:00, 16:15:00]","[15:50:00, 15:50:00, 17:05:00]",5400.0,01:30:00
17,COSC 089 3,sudikoff,"[{'day': 2, 'end': '11:50', 'start': '10:00'},...","[2, 3, 4]",3,"[6600.0, 6600.0, 3000.0]","[10:00:00, 10:00:00, 15:00:00]","[11:50:00, 11:50:00, 15:50:00]",5400.0,01:30:00
18,EARS 003,lsb,"[{'day': 1, 'end': '12:20', 'start': '11:15'},...","[1, 2, 3, 5]",4,"[3900.0, 3900.0, 3900.0, 3000.0]","[11:15:00, 11:15:00, 11:15:00, 12:00:00]","[12:20:00, 12:20:00, 12:20:00, 12:50:00]",3675.0,01:01:15
19,ECON 024,silsby-rocky,"[{'day': 1, 'end': '09:50', 'start': '08:45'},...","[1, 3, 4, 5]",4,"[3900.0, 3900.0, 3900.0, 3000.0]","[8:45:00, 8:45:00, 8:45:00, 9:00:00]","[9:50:00, 9:50:00, 9:50:00, 9:50:00]",3675.0,01:01:15
20,ECON 036,kemeny,"[{'day': 1, 'end': '09:50', 'start': '08:45'},...","[1, 3, 4, 5]",4,"[3900.0, 3900.0, 3900.0, 3000.0]","[8:45:00, 8:45:00, 8:45:00, 9:00:00]","[9:50:00, 9:50:00, 9:50:00, 9:50:00]",3675.0,01:01:15
21,ENGL 028,lsb,"[{'day': 1, 'end': '09:50', 'start': '08:45'},...","[1, 3, 4, 5]",4,"[3900.0, 3900.0, 3900.0, 3000.0]","[8:45:00, 8:45:00, 8:45:00, 9:00:00]","[9:50:00, 9:50:00, 9:50:00, 9:50:00]",3675.0,01:01:15
22,ENGL 047,dartmouth_hall,"[{'day': 1, 'end': '12:20', 'start': '11:15'},...","[1, 2, 3, 5]",4,"[3900.0, 3900.0, 3900.0, 3000.0]","[11:15:00, 11:15:00, 11:15:00, 12:00:00]","[12:20:00, 12:20:00, 12:20:00, 12:50:00]",3675.0,01:01:15
23,ENGL 067,carson-tech_services,"[{'day': 2, 'end': '15:50', 'start': '14:00'},...","[2, 3, 4]",3,"[6600.0, 6600.0, 3000.0]","[14:00:00, 14:00:00, 16:15:00]","[15:50:00, 15:50:00, 17:05:00]",5400.0,01:30:00
24,ENGS 022,cummings,"[{'day': 1, 'end': '09:50', 'start': '08:45'},...","[1, 3, 4, 5]",4,"[3900.0, 3900.0, 3900.0, 3000.0]","[8:45:00, 8:45:00, 8:45:00, 9:00:00]","[9:50:00, 9:50:00, 9:50:00, 9:50:00]",3675.0,01:01:15
25,ENGS 025,cummings,"[{'day': 1, 'end': '14:50', 'start': '13:45'},...","[1, 3, 4, 5]",4,"[3900.0, 3900.0, 3900.0, 3000.0]","[13:45:00, 13:45:00, 13:45:00, 13:00:00]","[14:50:00, 14:50:00, 14:50:00, 13:50:00]",3675.0,01:01:15
26,ENGS 069,lsb,"[{'day': 1, 'end': '11:05', 'start': '10:00'},...","[1, 3, 4, 5]",4,"[3900.0, 3900.0, 3900.0, 3000.0]","[10:00:00, 10:00:00, 10:00:00, 12:00:00]","[11:05:00, 11:05:00, 11:05:00, 12:50:00]",3675.0,01:01:15
27,ENGS 093,maclean,"[{'day': 1, 'end': '13:35', 'start': '12:30'},...","[1, 2, 3, 5]",4,"[3900.0, 3900.0, 3900.0, 3000.0]","[12:30:00, 12:30:00, 12:30:00, 13:00:00]","[13:35:00, 13:35:00, 13:35:00, 13:50:00]",3675.0,01:01:15
28,FILM 051,vac,"[{'day': 2, 'end': '11:50', 'start': '10:00'},...","[2, 3, 4]",3,"[6600.0, 6600.0, 3000.0]","[10:00:00, 10:00:00, 15:00:00]","[11:50:00, 11:50:00, 15:50:00]",5400.0,01:30:00
29,GERM 001,dartmouth_hall,"[{'day': 1, 'end': '09:50', 'start': '09:00'},...","[1, 2, 3, 4, 5]",5,"[3000.0, 3000.0, 3000.0, 3000.0, 3000.0]","[9:00:00, 9:00:00, 9:00:00, 9:00:00, 9:00:00]","[9:50:00, 9:50:00, 9:50:00, 9:50:00, 9:50:00]",3000.0,00:50:00
30,HIST 051,carson-tech_services,"[{'day': 1, 'end': '13:35', 'start': '12:30'},...","[1, 2, 3, 5]",4,"[3900.0, 3900.0, 3900.0, 3000.0]","[12:30:00, 12:30:00, 12:30:00, 13:00:00]","[13:35:00, 13:35:00, 13:35:00, 13:50:00]",3675.0,01:01:15
31,JAPN 033,batrlett,"[{'day': 1, 'end': '12:20', 'start': '11:15'},...","[1, 2, 3, 5]",4,"[3900.0, 3900.0, 3900.0, 3000.0]","[11:15:00, 11:15:00, 11:15:00, 12:00:00]","[12:20:00, 12:20:00, 12:20:00, 12:50:00]",3675.0,01:01:15
32,LAT 003,reed,"[{'day': 1, 'end': '09:50', 'start': '08:45'},...","[1, 3, 4, 5]",4,"[3900.0, 3900.0, 3900.0, 3000.0]","[8:45:00, 8:45:00, 8:45:00, 9:00:00]","[9:50:00, 9:50:00, 9:50:00, 9:50:00]",3675.0,01:01:15
33,M&SS 045,kemeny,"[{'day': 1, 'end': '09:50', 'start': '08:45'},...","[1, 3, 4, 5]",4,"[3900.0, 3900.0, 3900.0, 3000.0]","[8:45:00, 8:45:00, 8:45:00, 9:00:00]","[9:50:00, 9:50:00, 9:50:00, 9:50:00]",3675.0,01:01:15
34,MATH 013,kemeny,"[{'day': 1, 'end': '13:35', 'start': '12:30'},...","[1, 2, 3, 5]",4,"[3900.0, 3900.0, 3900.0, 3000.0]","[12:30:00, 12:30:00, 12:30:00, 13:00:00]","[13:35:00, 13:35:00, 13:35:00, 13:50:00]",3675.0,01:01:15
35,MATH 022,kemeny,"[{'day': 1, 'end': '12:20', 'start': '11:15'},...","[1, 2, 3, 5]",4,"[3900.0, 3900.0, 3900.0, 3000.0]","[11:15:00, 11:15:00, 11:15:00, 12:00:00]","[12:20:00, 12:20:00, 12:20:00, 12:50:00]",3675.0,01:01:15
36,MATH 023,kemeny,"[{'day': 1, 'end': '12:20', 'start': '11:15'},...","[1, 2, 3, 5]",4,"[3900.0, 3900.0, 3900.0, 3000.0]","[11:15:00, 11:15:00, 11:15:00, 12:00:00]","[12:20:00, 12:20:00, 12:20:00, 12:50:00]",3675.0,01:01:15
37,MUS 003,hopkins,"[{'day': 2, 'end': '15:50', 'start': '14:00'},...","[2, 3, 4]",3,"[6600.0, 6600.0, 3000.0]","[14:00:00, 14:00:00, 16:15:00]","[15:50:00, 15:50:00, 17:05:00]",5400.0,01:30:00
38,MUS 016,hopkins,"[{'day': 2, 'end': '11:50', 'start': '10:00'},...","[2, 3, 4]",3,"[6600.0, 6600.0, 3000.0]","[10:00:00, 10:00:00, 15:00:00]","[11:50:00, 11:50:00, 15:50:00]",5400.0,01:30:00
39,NAS 008,moore,"[{'day': 1, 'end': '13:35', 'start': '12:30'},...","[1, 2, 3, 5]",4,"[3900.0, 3900.0, 3900.0, 3000.0]","[12:30:00, 12:30:00, 12:30:00, 13:00:00]","[13:35:00, 13:35:00, 13:35:00, 13:50:00]",3675.0,01:01:15
40,NAS 035,carpenterhall,"[{'day': 1, 'end': '12:20', 'start': '11:15'},...","[1, 2, 3, 5]",4,"[3900.0, 3900.0, 3900.0, 3000.0]","[11:15:00, 11:15:00, 11:15:00, 12:00:00]","[12:20:00, 12:20:00, 12:20:00, 12:50:00]",3675.0,01:01:15
41,PSYC 028,moore,"[{'day': 1, 'end': '14:50', 'start': '13:45'},...","[1, 3, 4, 5]",4,"[3900.0, 3900.0, 3900.0, 3000.0]","[13:45:00, 13:45:00, 13:45:00, 13:00:00]","[14:50:00, 14:50:00, 14:50:00, 13:50:00]",3675.0,01:01:15
42,REL 018,carson-tech_services,"[{'day': 1, 'end': '14:50', 'start': '13:45'},...","[1, 3, 4, 5]",4,"[3900.0, 3900.0, 3900.0, 3000.0]","[13:45:00, 13:45:00, 13:45:00, 13:00:00]","[14:50:00, 14:50:00, 14:50:00, 13:50:00]",3675.0,01:01:15
43,SPAN 003,dartmouth_hall,"[{'day': 1, 'end': '09:50', 'start': '09:00'},...","[1, 2, 3, 4, 5]",5,"[3000.0, 3000.0, 3000.0, 3000.0, 3000.0]","[9:00:00, 9:00:00, 9:00:00, 9:00:00, 9:00:00]","[9:50:00, 9:50:00, 9:50:00, 9:50:00, 9:50:00]",3000.0,00:50:00
44,TUCK 003,carson-tech_services,"[{'day': 2, 'end': '15:50', 'start': '14:00'},...","[2, 3, 4]",3,"[6600.0, 6600.0, 3000.0]","[14:00:00, 14:00:00, 16:15:00]","[15:50:00, 15:50:00, 17:05:00]",5400.0,01:30:00

In [4]:
def class_field(name):
    n=re.split('\d',name)
    return n[0]
df['class_field']=df['class_name'].apply(lambda x:class_field(x))
df=df[['class_name', 'class_field', 'location', 'periods', 'day_learn', 'day_go_to_school',
       'time_learn', 'start_time', 'end_time', 'avg_learn_sub',
       'visualize_time']]

In [5]:
df.set_index('class_name')
print(type(df.time_learn[1][1]))

<class 'numpy.float64'>

In [6]:
subject_learn_time=df[['class_field','day_go_to_school','avg_learn_sub']].groupby('class_field')
subject_learn_time.mean()

             day_go_to_school  avg_learn_sub
class_field
ANTH                 4.000000    3675.000000
BIOL                 3.000000    5400.000000
CHIN                 4.000000    4200.000000
COSC                 3.461538    4603.846154
EARS                 4.000000    3675.000000
ECON                 4.000000    3675.000000
ENGL                 3.666667    4250.000000
ENGS                 4.000000    3675.000000
FILM                 3.000000    5400.000000
GERM                 5.000000    3000.000000
HIST                 4.000000    3675.000000
JAPN                 4.000000    3675.000000
LAT                  4.000000    3675.000000
M&SS                 4.000000    3675.000000
MATH                 4.000000    3675.000000
MUS                  3.000000    5400.000000
NAS                  4.000000    3675.000000
PSYC                 4.000000    3675.000000
REL                  4.000000    3675.000000
SPAN                 5.000000    3000.000000
TUCK                 3.000000    5400.000000

In [7]:
time_learn_avg=subject_learn_time['avg_learn_sub'].mean().mean()
print(time_learn_avg)
time_visualize(time_learn_avg)

4035.897435897436

'01:07:15'

In [8]:
df['time_learn']

0             [3900.0, 3900.0, 3900.0, 3000.0]
1                     [6600.0, 6600.0, 3000.0]
2                     [6600.0, 6600.0, 3000.0]
3     [3000.0, 3000.0, 3000.0, 3000.0, 3000.0]
4                     [6600.0, 6600.0, 3000.0]
5             [3900.0, 3900.0, 3900.0, 3000.0]
6                     [6600.0, 6600.0, 3000.0]
7                     [6600.0, 3000.0, 6600.0]
8             [3900.0, 3900.0, 3900.0, 3000.0]
9             [3900.0, 3900.0, 3900.0, 3000.0]
10            [3900.0, 3900.0, 3900.0, 3000.0]
11            [3900.0, 3900.0, 3900.0, 3000.0]
12                    [6600.0, 6600.0, 3000.0]
13                    [6600.0, 6600.0, 3000.0]
14                    [6600.0, 6600.0, 3000.0]
15            [3900.0, 3900.0, 3900.0, 3000.0]
16                    [6600.0, 6600.0, 3000.0]
17                    [6600.0, 6600.0, 3000.0]
18            [3900.0, 3900.0, 3900.0, 3000.0]
19            [3900.0, 3900.0, 3900.0, 3000.0]
20            [3900.0, 3900.0, 3900.0, 3000.0]
21            [3900.0, 3900.0, 3900.0, 3000.0]
22            [3900.0, 3900.0, 3900.0, 3000.0]
23                    [6600.0, 6600.0, 3000.0]
24            [3900.0, 3900.0, 3900.0, 3000.0]
25            [3900.0, 3900.0, 3900.0, 3000.0]
26            [3900.0, 3900.0, 3900.0, 3000.0]
27            [3900.0, 3900.0, 3900.0, 3000.0]
28                    [6600.0, 6600.0, 3000.0]
29    [3000.0, 3000.0, 3000.0, 3000.0, 3000.0]
30            [3900.0, 3900.0, 3900.0, 3000.0]
31            [3900.0, 3900.0, 3900.0, 3000.0]
32            [3900.0, 3900.0, 3900.0, 3000.0]
33            [3900.0, 3900.0, 3900.0, 3000.0]
34            [3900.0, 3900.0, 3900.0, 3000.0]
35            [3900.0, 3900.0, 3900.0, 3000.0]
36            [3900.0, 3900.0, 3900.0, 3000.0]
37                    [6600.0, 6600.0, 3000.0]
38                    [6600.0, 6600.0, 3000.0]
39            [3900.0, 3900.0, 3900.0, 3000.0]
40            [3900.0, 3900.0, 3900.0, 3000.0]
41            [3900.0, 3900.0, 3900.0, 3000.0]
42            [3900.0, 3900.0, 3900.0, 3000.0]
43    [3000.0, 3000.0, 3000.0, 3000.0, 3000.0]
44                    [6600.0, 6600.0, 3000.0]
Name: time_learn, dtype: object

In [9]:
df['time_learn']
df['time_learn']

0             [3900.0, 3900.0, 3900.0, 3000.0]
1                     [6600.0, 6600.0, 3000.0]
2                     [6600.0, 6600.0, 3000.0]
3     [3000.0, 3000.0, 3000.0, 3000.0, 3000.0]
4                     [6600.0, 6600.0, 3000.0]
5             [3900.0, 3900.0, 3900.0, 3000.0]
6                     [6600.0, 6600.0, 3000.0]
7                     [6600.0, 3000.0, 6600.0]
8             [3900.0, 3900.0, 3900.0, 3000.0]
9             [3900.0, 3900.0, 3900.0, 3000.0]
10            [3900.0, 3900.0, 3900.0, 3000.0]
11            [3900.0, 3900.0, 3900.0, 3000.0]
12                    [6600.0, 6600.0, 3000.0]
13                    [6600.0, 6600.0, 3000.0]
14                    [6600.0, 6600.0, 3000.0]
15            [3900.0, 3900.0, 3900.0, 3000.0]
16                    [6600.0, 6600.0, 3000.0]
17                    [6600.0, 6600.0, 3000.0]
18            [3900.0, 3900.0, 3900.0, 3000.0]
19            [3900.0, 3900.0, 3900.0, 3000.0]
20            [3900.0, 3900.0, 3900.0, 3000.0]
21            [3900.0, 3900.0, 3900.0, 3000.0]
22            [3900.0, 3900.0, 3900.0, 3000.0]
23                    [6600.0, 6600.0, 3000.0]
24            [3900.0, 3900.0, 3900.0, 3000.0]
25            [3900.0, 3900.0, 3900.0, 3000.0]
26            [3900.0, 3900.0, 3900.0, 3000.0]
27            [3900.0, 3900.0, 3900.0, 3000.0]
28                    [6600.0, 6600.0, 3000.0]
29    [3000.0, 3000.0, 3000.0, 3000.0, 3000.0]
30            [3900.0, 3900.0, 3900.0, 3000.0]
31            [3900.0, 3900.0, 3900.0, 3000.0]
32            [3900.0, 3900.0, 3900.0, 3000.0]
33            [3900.0, 3900.0, 3900.0, 3000.0]
34            [3900.0, 3900.0, 3900.0, 3000.0]
35            [3900.0, 3900.0, 3900.0, 3000.0]
36            [3900.0, 3900.0, 3900.0, 3000.0]
37                    [6600.0, 6600.0, 3000.0]
38                    [6600.0, 6600.0, 3000.0]
39            [3900.0, 3900.0, 3900.0, 3000.0]
40            [3900.0, 3900.0, 3900.0, 3000.0]
41            [3900.0, 3900.0, 3900.0, 3000.0]
42            [3900.0, 3900.0, 3900.0, 3000.0]
43    [3000.0, 3000.0, 3000.0, 3000.0, 3000.0]
44                    [6600.0, 6600.0, 3000.0]
Name: time_learn, dtype: object

In [18]:
learn_time_week=[]
for i in range(df.shape[0]):
    learn_time_day=[]
    day=df.loc[i,'day_learn']
    time=df.loc[i,'time_learn']
    for n in [1,2,3,4,5]:
        try:
            day_specific= day.index(n)
            time_in_day=time[day_specific]
            learn_time_day.append(time_in_day)
        except:
             learn_time_day.append(0)
    learn_time_week.append(learn_time_day)

In [19]:
df['time_go_school']=learn_time_week
df

/var/folders/qq/ckqvfttx4vs_68cbq08jts2c0000gn/T/ipykernel_14045/242925339.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['time_go_school']=learn_time_week

,class_name,class_field,location,periods,day_learn,day_go_to_school,time_learn,start_time,end_time,avg_learn_sub,visualize_time,time_go_school
0,ANTH 012,ANTH,silsby-rocky,"[{'day': 1, 'end': '12:20', 'start': '11:15'},...","[1, 2, 3, 5]",4,"[3900.0, 3900.0, 3900.0, 3000.0]","[11:15:00, 11:15:00, 11:15:00, 12:00:00]","[12:20:00, 12:20:00, 12:20:00, 12:50:00]",3675.0,01:01:15,"[3900.0, 3900.0, 3900.0, 0, 3000.0]"
1,BIOL 004,BIOL,lsb,"[{'day': 2, 'end': '11:50', 'start': '10:00'},...","[2, 3, 4]",3,"[6600.0, 6600.0, 3000.0]","[10:00:00, 10:00:00, 15:00:00]","[11:50:00, 11:50:00, 15:50:00]",5400.0,01:30:00,"[0, 6600.0, 6600.0, 3000.0, 0]"
2,BIOL 006,BIOL,lsb,"[{'day': 2, 'end': '11:50', 'start': '10:00'},...","[2, 3, 4]",3,"[6600.0, 6600.0, 3000.0]","[10:00:00, 10:00:00, 15:00:00]","[11:50:00, 11:50:00, 15:50:00]",5400.0,01:30:00,"[0, 6600.0, 6600.0, 3000.0, 0]"
3,CHIN 033,CHIN,reed,"[{'day': 1, 'end': '09:50', 'start': '09:00'},...","[1, 2, 3, 4, 5]",5,"[3000.0, 3000.0, 3000.0, 3000.0, 3000.0]","[9:00:00, 9:00:00, 9:00:00, 9:00:00, 9:00:00]","[9:50:00, 9:50:00, 9:50:00, 9:50:00, 9:50:00]",3000.0,00:50:00,"[3000.0, 3000.0, 3000.0, 3000.0, 3000.0]"
4,CHIN 062,CHIN,kemeny,"[{'day': 2, 'end': '17:50', 'start': '16:00'},...","[1, 2, 4]",3,"[6600.0, 6600.0, 3000.0]","[16:00:00, 16:00:00, 17:00:00]","[17:50:00, 17:50:00, 17:50:00]",5400.0,01:30:00,"[6600.0, 6600.0, 0, 3000.0, 0]"
5,COSC 007,COSC,baker-berry,"[{'day': 1, 'end': '14:50', 'start': '13:45'},...","[1, 3, 4, 5]",4,"[3900.0, 3900.0, 3900.0, 3000.0]","[13:45:00, 13:45:00, 13:45:00, 13:00:00]","[14:50:00, 14:50:00, 14:50:00, 13:50:00]",3675.0,01:01:15,"[3900.0, 0, 3900.0, 3900.0, 3000.0]"
6,COSC 020,COSC,moore,"[{'day': 2, 'end': '15:50', 'start': '14:00'},...","[2, 3, 4]",3,"[6600.0, 6600.0, 3000.0]","[14:00:00, 14:00:00, 16:15:00]","[15:50:00, 15:50:00, 17:05:00]",5400.0,01:30:00,"[0, 6600.0, 6600.0, 3000.0, 0]"
7,COSC 027,COSC,sudikoff,"[{'day': 1, 'end': '16:50', 'start': '15:00'},...","[1, 1, 4]",3,"[6600.0, 3000.0, 6600.0]","[15:00:00, 17:00:00, 16:00:00]","[16:50:00, 17:50:00, 17:50:00]",5400.0,01:30:00,"[6600.0, 0, 0, 6600.0, 0]"
8,COSC 050,COSC,kemeny,"[{'day': 1, 'end': '13:35', 'start': '12:30'},...","[1, 2, 3, 5]",4,"[3900.0, 3900.0, 3900.0, 3000.0]","[12:30:00, 12:30:00, 12:30:00, 13:00:00]","[13:35:00, 13:35:00, 13:35:00, 13:50:00]",3675.0,01:01:15,"[3900.0, 3900.0, 3900.0, 0, 3000.0]"
9,COSC 057,COSC,sudikoff,"[{'day': 1, 'end': '14:50', 'start': '13:45'},...","[1, 3, 4, 5]",4,"[3900.0, 3900.0, 3900.0, 3000.0]","[13:45:00, 13:45:00, 13:45:00, 13:00:00]","[14:50:00, 14:50:00, 14:50:00, 13:50:00]",3675.0,01:01:15,"[3900.0, 0, 3900.0, 3900.0, 3000.0]"
10,COSC 060,COSC,lsb,"[{'day': 1, 'end': '14:50', 'start': '13:45'},...","[1, 3, 4, 5]",4,"[3900.0, 3900.0, 3900.0, 3000.0]","[13:45:00, 13:45:00, 13:45:00, 13:00:00]","[14:50:00, 14:50:00, 14:50:00, 13:50:00]",3675.0,01:01:15,"[3900.0, 0, 3900.0, 3900.0, 3000.0]"
11,COSC 065,COSC,lsb,"[{'day': 1, 'end': '11:05', 'start': '10:00'},...","[1, 3, 4, 5]",4,"[3900.0, 3900.0, 3900.0, 3000.0]","[10:00:00, 10:00:00, 10:00:00, 12:00:00]","[11:05:00, 11:05:00, 11:05:00, 12:50:00]",3675.0,01:01:15,"[3900.0, 0, 3900.0, 3900.0, 3000.0]"
12,COSC 069,COSC,sudikoff,"[{'day': 2, 'end': '17:50', 'start': '16:00'},...","[1, 2, 4]",3,"[6600.0, 6600.0, 3000.0]","[16:00:00, 16:00:00, 17:00:00]","[17:50:00, 17:50:00, 17:50:00]",5400.0,01:30:00,"[6600.0, 6600.0, 0, 3000.0, 0]"
13,COSC 070,COSC,sudikoff,"[{'day': 2, 'end': '15:50', 'start': '14:00'},...","[2, 3, 4]",3,"[6600.0, 6600.0, 3000.0]","[14:00:00, 14:00:00, 16:15:00]","[15:50:00, 15:50:00, 17:05:00]",5400.0,01:30:00,"[0, 6600.0, 6600.0, 3000.0, 0]"
14,COSC 077,COSC,steele,"[{'day': 2, 'end': '15:50', 'start': '14:00'},...","[2, 3, 4]",3,"[6600.0, 6600.0, 3000.0]","[14:00:00, 14:00:00, 16:15:00]","[15:50:00, 15:50:00, 17:05:00]",5400.0,01:30:00,"[0, 6600.0, 6600.0, 3000.0, 0]"
15,COSC 089 1,COSC,sudikoff,"[{'day': 1, 'end': '12:20', 'start': '11:15'},...","[1, 2, 3, 5]",4,"[3900.0, 3900.0, 3900.0, 3000.0]","[11:15:00, 11:15:00, 11:15:00, 12:00:00]","[12:20:00, 12:20:00, 12:20:00, 12:50:00]",3675.0,01:01:15,"[3900.0, 3900.0, 3900.0, 0, 3000.0]"
16,COSC 089 2,COSC,sudikoff,"[{'day': 2, 'end': '15:50', 'start': '14:00'},...","[2, 3, 4]",3,"[6600.0, 6600.0, 3000.0]","[14:00:00, 14:00:00, 16:15:00]","[15:50:00, 15:50:00, 17:05:00]",5400.0,01:30:00,"[0, 6600.0, 6600.0, 3000.0, 0]"
17,COSC 089 3,COSC,sudikoff,"[{'day': 2, 'end': '11:50', 'start': '10:00'},...","[2, 3, 4]",3,"[6600.0, 6600.0, 3000.0]","[10:00:00, 10:00:00, 15:00:00]","[11:50:00, 11:50:00, 15:50:00]",5400.0,01:30:00,"[0, 6600.0, 6600.0, 3000.0, 0]"
18,EARS 003,EARS,lsb,"[{'day': 1, 'end': '12:20', 'start': '11:15'},...","[1, 2, 3, 5]",4,"[3900.0, 3900.0, 3900.0, 3000.0]","[11:15:00, 11:15:00, 11:15:00, 12:00:00]","[12:20:00, 12:20:00, 12:20:00, 12:50:00]",3675.0,01:01:15,"[3900.0, 3900.0, 3900.0, 0, 3000.0]"
19,ECON 024,ECON,silsby-rocky,"[{'day': 1, 'end': '09:50', 'start': '08:45'},...","[1, 3, 4, 5]",4,"[3900.0, 3900.0, 3900.0, 3000.0]","[8:45:00, 8:45:00, 8:45:00, 9:00:00]","[9:50:00, 9:50:00, 9:50:00, 9:50:00]",3675.0,01:01:15,"[3900.0, 0, 3900.0, 3900.0, 3000.0]"
20,ECON 036,ECON,kemeny,"[{'day': 1, 'end': '09:50', 'start': '08:45'},...","[1, 3, 4, 5]",4,"[3900.0, 3900.0, 3900.0, 3000.0]","[8:45:00, 8:45:00, 8:45:00, 9:00:00]","[9:50:00, 9:50:00, 9:50:00, 9:50:00]",3675.0,01:01:15,"[3900.0, 0, 3900.0, 3900.0, 3000.0]"
21,ENGL 028,ENGL,lsb,"[{'day': 1, 'end': '09:50', 'start': '08:45'},...","[1, 3, 4, 5]",4,"[3900.0, 3900.0, 3900.0, 3000.0]","[8:45:00, 8:45:00, 8:45:00, 9:00:00]","[9:50:00, 9:50:00, 9:50:00, 9:50:00]",3675.0,01:01:15,"[3900.0, 0, 3900.0, 3900.0, 3000.0]"
22,ENGL 047,ENGL,dartmouth_hall,"[{'day': 1, 'end': '12:20', 'start': '11:15'},...","[1, 2, 3, 5]",4,"[3900.0, 3900.0, 3900.0, 3000.0]","[11:15:00, 11:15:00, 11:15:00, 12:00:00]","[12:20:00, 12:20:00, 12:20:00, 12:50:00]",3675.0,01:01:15,"[3900.0, 3900.0, 3900.0, 0, 3000.0]"
23,ENGL 067,ENGL,carson-tech_services,"[{'day': 2, 'end': '15:50', 'start': '14:00'},...","[2, 3, 4]",3,"[6600.0, 6600.0, 3000.0]","[14:00:00, 14:00:00, 16:15:00]","[15:50:00, 15:50:00, 17:05:00]",5400.0,01:30:00,"[0, 6600.0, 6600.0, 3000.0, 0]"
24,ENGS 022,ENGS,cummings,"[{'day': 1, 'end': '09:50', 'start': '08:45'},...","[1, 3, 4, 5]",4,"[3900.0, 3900.0, 3900.0, 3000.0]","[8:45:00, 8:45:00, 8:45:00, 9:00:00]","[9:50:00, 9:50:00, 9:50:00, 9:50:00]",3675.0,01:01:15,"[3900.0, 0, 3900.0, 3900.0, 3000.0]"
25,ENGS 025,ENGS,cummings,"[{'day': 1, 'end': '14:50', 'start': '13:45'},...","[1, 3, 4, 5]",4,"[3900.0, 3900.0, 3900.0, 3000.0]","[13:45:00, 13:45:00, 13:45:00, 13:00:00]","[14:50:00, 14:50:00, 14:50:00, 13:50:00]",3675.0,01:01:15,"[3900.0, 0, 3900.0, 3900.0, 3000.0]"
26,ENGS 069,ENGS,lsb,"[{'day': 1, 'end': '11:05', 'start': '10:00'},...","[1, 3, 4, 5]",4,"[3900.0, 3900.0, 3900.0, 3000.0]","[10:00:00, 10:00:00, 10:00:00, 12:00:00]","[11:05:00, 11:05:00, 11:05:00, 12:50:00]",3675.0,01:01:15,"[3900.0, 0, 3900.0, 3900.0, 3000.0]"
27,ENGS 093,ENGS,maclean,"[{'day': 1, 'end': '13:35', 'start': '12:30'},...","[1, 2, 3, 5]",4,"[3900.0, 3900.0, 3900.0, 3000.0]","[12:30:00, 12:30:00, 12:30:00, 13:00:00]","[13:35:00, 13:35:00, 13:35:00, 13:50:00]",3675.0,01:01:15,"[3900.0, 3900.0, 3900.0, 0, 3000.0]"
28,FILM 051,FILM,vac,"[{'day': 2, 'end': '11:50', 'start': '10:00'},...","[2, 3, 4]",3,"[6600.0, 6600.0, 3000.0]","[10:00:00, 10:00:00, 15:00:00]","[11:50:00, 11:50:00, 15:50:00]",5400.0,01:30:00,"[0, 6600.0, 6600.0, 3000.0, 0]"
29,GERM 001,GERM,dartmouth_hall,"[{'day': 1, 'end': '09:50', 'start': '09:00'},...","[1, 2, 3, 4, 5]",5,"[3000.0, 3000.0, 3000.0, 3000.0, 3000.0]","[9:00:00, 9:00:00, 9:00:00, 9:00:00, 9:00:00]","[9:50:00, 9:50:00, 9:50:00, 9:50:00, 9:50:00]",3000.0,00:50:00,"[3000.0, 3000.0, 3000.0, 3000.0, 3000.0]"
30,HIST 051,HIST,carson-tech_services,"[{'day': 1, 'end': '13:35', 'start': '12:30'},...","[1, 2, 3, 5]",4,"[3900.0, 3900.0, 3900.0, 3000.0]","[12:30:00, 12:30:00, 12:30:00, 13:00:00]","[13:35:00, 13:35:00, 13:35:00, 13:50:00]",3675.0,01:01:15,"[3900.0, 3900.0, 3900.0, 0, 3000.0]"
31,JAPN 033,JAPN,batrlett,"[{'day': 1, 'end': '12:20', 'start': '11:15'},...","[1, 2, 3, 5]",4,"[3900.0, 3900.0, 3900.0, 3000.0]","[11:15:00, 11:15:00, 11:15:00, 12:00:00]","[12:20:00, 12:20:00, 12:20:00, 12:50:00]",3675.0,01:01:15,"[3900.0, 3900.0, 3900.0, 0, 3000.0]"
32,LAT 003,LAT,reed,"[{'day': 1, 'end': '09:50', 'start': '08:45'},...","[1, 3, 4, 5]",4,"[3900.0, 3900.0, 3900.0, 3000.0]","[8:45:00, 8:45:00, 8:45:00, 9:00:00]","[9:50:00, 9:50:00, 9:50:00, 9:50:00]",3675.0,01:01:15,"[3900.0, 0, 3900.0, 3900.0, 3000.0]"
33,M&SS 045,M&SS,kemeny,"[{'day': 1, 'end': '09:50', 'start': '08:45'},...","[1, 3, 4, 5]",4,"[3900.0, 3900.0, 3900.0, 3000.0]","[8:45:00, 8:45:00, 8:45:00, 9:00:00]","[9:50:00, 9:50:00, 9:50:00, 9:50:00]",3675.0,01:01:15,"[3900.0, 0, 3900.0, 3900.0, 3000.0]"
34,MATH 013,MATH,kemeny,"[{'day': 1, 'end': '13:35', 'start': '12:30'},...","[1, 2, 3, 5]",4,"[3900.0, 3900.0, 3900.0, 3000.0]","[12:30:00, 12:30:00, 12:30:00, 13:00:00]","[13:35:00, 13:35:00, 13:35:00, 13:50:00]",3675.0,01:01:15,"[3900.0, 3900.0, 3900.0, 0, 3000.0]"
35,MATH 022,MATH,kemeny,"[{'day': 1, 'end': '12:20', 'start': '11:15'},...","[1, 2, 3, 5]",4,"[3900.0, 3900.0, 3900.0, 3000.0]","[11:15:00, 11:15:00, 11:15:00, 12:00:00]","[12:20:00, 12:20:00, 12:20:00, 12:50:00]",3675.0,01:01:15,"[3900.0, 3900.0, 3900.0, 0, 3000.0]"
36,MATH 023,MATH,kemeny,"[{'day': 1, 'end': '12:20', 'start': '11:15'},...","[1, 2, 3, 5]",4,"[3900.0, 3900.0, 3900.0, 3000.0]","[11:15:00, 11:15:00, 11:15:00, 12:00:00]","[12:20:00, 12:20:00, 12:20:00, 12:50:00]",3675.0,01:01:15,"[3900.0, 3900.0, 3900.0, 0, 3000.0]"
37,MUS 003,MUS,hopkins,"[{'day': 2, 'end': '15:50', 'start': '14:00'},...","[2, 3, 4]",3,"[6600.0, 6600.0, 3000.0]","[14:00:00, 14:00:00, 16:15:00]","[15:50:00, 15:50:00, 17:05:00]",5400.0,01:30:00,"[0, 6600.0, 6600.0, 3000.0, 0]"
38,MUS 016,MUS,hopkins,"[{'day': 2, 'end': '11:50', 'start': '10:00'},...","[2, 3, 4]",3,"[6600.0, 6600.0, 3000.0]","[10:00:00, 10:00:00, 15:00:00]","[11:50:00, 11:50:00, 15:50:00]",5400.0,01:30:00,"[0, 6600.0, 6600.0, 3000.0, 0]"
39,NAS 008,NAS,moore,"[{'day': 1, 'end': '13:35', 'start': '12:30'},...","[1, 2, 3, 5]",4,"[3900.0, 3900.0, 3900.0, 3000.0]","[12:30:00, 12:30:00, 12:30:00, 13:00:00]","[13:35:00, 13:35:00, 13:35:00, 13:50:00]",3675.0,01:01:15,"[3900.0, 3900.0, 3900.0, 0, 3000.0]"
40,NAS 035,NAS,carpenterhall,"[{'day': 1, 'end': '12:20', 'start': '11:15'},...","[1, 2, 3, 5]",4,"[3900.0, 3900.0, 3900.0, 3000.0]","[11:15:00, 11:15:00, 11:15:00, 12:00:00]","[12:20:00, 12:20:00, 12:20:00, 12:50:00]",3675.0,01:01:15,"[3900.0, 3900.0, 3900.0, 0, 3000.0]"
41,PSYC 028,PSYC,moore,"[{'day': 1, 'end': '14:50', 'start': '13:45'},...","[1, 3, 4, 5]",4,"[3900.0, 3900.0, 3900.0, 3000.0]","[13:45:00, 13:45:00, 13:45:00, 13:00:00]","[14:50:00, 14:50:00, 14:50:00, 13:50:00]",3675.0,01:01:15,"[3900.0, 0, 3900.0, 3900.0, 3000.0]"
42,REL 018,REL,carson-tech_services,"[{'day': 1, 'end': '14:50', 'start': '13:45'},...","[1, 3, 4, 5]",4,"[3900.0, 3900.0, 3900.0, 3000.0]","[13:45:00, 13:45:00, 13:45:00, 13:00:00]","[14:50:00, 14:50:00, 14:50:00, 13:50:00]",3675.0,01:01:15,"[3900.0, 0, 3900.0, 3900.0, 3000.0]"
43,SPAN 003,SPAN,dartmouth_hall,"[{'day': 1, 'end': '09:50', 'start': '09:00'},...","[1, 2, 3, 4, 5]",5,"[3000.0, 3000.0, 3000.0, 3000.0, 3000.0]","[9:00:00, 9:00:00, 9:00:00, 9:00:00, 9:00:00]","[9:50:00, 9:50:00, 9:50:00, 9:50:00, 9:50:00]",3000.0,00:50:00,"[3000.0, 3000.0, 3000.0, 3000.0, 3000.0]"
44,TUCK 003,TUCK,carson-tech_services,"[{'day': 2, 'end': '15:50', 'start': '14:00'},...","[2, 3, 4]",3,"[6600.0, 6600.0, 3000.0]","[14:00:00, 14:00:00, 16:15:00]","[15:50:00, 15:50:00, 17:05:00]",5400.0,01:30:00,"[0, 6600.0, 6600.0, 3000.0, 0]"

In [20]:
df.to_csv('./class_define.csv')

In [11]:
df1=pd.read_csv('./class_define.csv')
df1

,Unnamed: 0,class_name,class_field,location,periods,day_learn,day_go_to_school,time_learn,start_time,end_time,avg_learn_sub,visualize_time
0,0,ANTH 012,ANTH,silsby-rocky,"[{'day': 1, 'end': '12:20', 'start': '11:15'},...","[1, 2, 3, 5]",4,[3900. 3900. 3900. 3000.],"['11:15:00', '11:15:00', '11:15:00', '12:00:00']","['12:20:00', '12:20:00', '12:20:00', '12:50:00']",3675.0,01:01:15
1,1,BIOL 004,BIOL,lsb,"[{'day': 2, 'end': '11:50', 'start': '10:00'},...","[2, 3, 4]",3,[6600. 6600. 3000.],"['10:00:00', '10:00:00', '15:00:00']","['11:50:00', '11:50:00', '15:50:00']",5400.0,01:30:00
2,2,BIOL 006,BIOL,lsb,"[{'day': 2, 'end': '11:50', 'start': '10:00'},...","[2, 3, 4]",3,[6600. 6600. 3000.],"['10:00:00', '10:00:00', '15:00:00']","['11:50:00', '11:50:00', '15:50:00']",5400.0,01:30:00
3,3,CHIN 033,CHIN,reed,"[{'day': 1, 'end': '09:50', 'start': '09:00'},...","[1, 2, 3, 4, 5]",5,[3000. 3000. 3000. 3000. 3000.],"['9:00:00', '9:00:00', '9:00:00', '9:00:00', '...","['9:50:00', '9:50:00', '9:50:00', '9:50:00', '...",3000.0,00:50:00
4,4,CHIN 062,CHIN,kemeny,"[{'day': 2, 'end': '17:50', 'start': '16:00'},...","[1, 2, 4]",3,[6600. 6600. 3000.],"['16:00:00', '16:00:00', '17:00:00']","['17:50:00', '17:50:00', '17:50:00']",5400.0,01:30:00
5,5,COSC 007,COSC,baker-berry,"[{'day': 1, 'end': '14:50', 'start': '13:45'},...","[1, 3, 4, 5]",4,[3900. 3900. 3900. 3000.],"['13:45:00', '13:45:00', '13:45:00', '13:00:00']","['14:50:00', '14:50:00', '14:50:00', '13:50:00']",3675.0,01:01:15
6,6,COSC 020,COSC,moore,"[{'day': 2, 'end': '15:50', 'start': '14:00'},...","[2, 3, 4]",3,[6600. 6600. 3000.],"['14:00:00', '14:00:00', '16:15:00']","['15:50:00', '15:50:00', '17:05:00']",5400.0,01:30:00
7,7,COSC 027,COSC,sudikoff,"[{'day': 1, 'end': '16:50', 'start': '15:00'},...","[1, 1, 4]",3,[6600. 3000. 6600.],"['15:00:00', '17:00:00', '16:00:00']","['16:50:00', '17:50:00', '17:50:00']",5400.0,01:30:00
8,8,COSC 050,COSC,kemeny,"[{'day': 1, 'end': '13:35', 'start': '12:30'},...","[1, 2, 3, 5]",4,[3900. 3900. 3900. 3000.],"['12:30:00', '12:30:00', '12:30:00', '13:00:00']","['13:35:00', '13:35:00', '13:35:00', '13:50:00']",3675.0,01:01:15
9,9,COSC 057,COSC,sudikoff,"[{'day': 1, 'end': '14:50', 'start': '13:45'},...","[1, 3, 4, 5]",4,[3900. 3900. 3900. 3000.],"['13:45:00', '13:45:00', '13:45:00', '13:00:00']","['14:50:00', '14:50:00', '14:50:00', '13:50:00']",3675.0,01:01:15
10,10,COSC 060,COSC,lsb,"[{'day': 1, 'end': '14:50', 'start': '13:45'},...","[1, 3, 4, 5]",4,[3900. 3900. 3900. 3000.],"['13:45:00', '13:45:00', '13:45:00', '13:00:00']","['14:50:00', '14:50:00', '14:50:00', '13:50:00']",3675.0,01:01:15
11,11,COSC 065,COSC,lsb,"[{'day': 1, 'end': '11:05', 'start': '10:00'},...","[1, 3, 4, 5]",4,[3900. 3900. 3900. 3000.],"['10:00:00', '10:00:00', '10:00:00', '12:00:00']","['11:05:00', '11:05:00', '11:05:00', '12:50:00']",3675.0,01:01:15
12,12,COSC 069,COSC,sudikoff,"[{'day': 2, 'end': '17:50', 'start': '16:00'},...","[1, 2, 4]",3,[6600. 6600. 3000.],"['16:00:00', '16:00:00', '17:00:00']","['17:50:00', '17:50:00', '17:50:00']",5400.0,01:30:00
13,13,COSC 070,COSC,sudikoff,"[{'day': 2, 'end': '15:50', 'start': '14:00'},...","[2, 3, 4]",3,[6600. 6600. 3000.],"['14:00:00', '14:00:00', '16:15:00']","['15:50:00', '15:50:00', '17:05:00']",5400.0,01:30:00
14,14,COSC 077,COSC,steele,"[{'day': 2, 'end': '15:50', 'start': '14:00'},...","[2, 3, 4]",3,[6600. 6600. 3000.],"['14:00:00', '14:00:00', '16:15:00']","['15:50:00', '15:50:00', '17:05:00']",5400.0,01:30:00
15,15,COSC 089 1,COSC,sudikoff,"[{'day': 1, 'end': '12:20', 'start': '11:15'},...","[1, 2, 3, 5]",4,[3900. 3900. 3900. 3000.],"['11:15:00', '11:15:00', '11:15:00', '12:00:00']","['12:20:00', '12:20:00', '12:20:00', '12:50:00']",3675.0,01:01:15
16,16,COSC 089 2,COSC,sudikoff,"[{'day': 2, 'end': '15:50', 'start': '14:00'},...","[2, 3, 4]",3,[6600. 6600. 3000.],"['14:00:00', '14:00:00', '16:15:00']","['15:50:00', '15:50:00', '17:05:00']",5400.0,01:30:00
17,17,COSC 089 3,COSC,sudikoff,"[{'day': 2, 'end': '11:50', 'start': '10:00'},...","[2, 3, 4]",3,[6600. 6600. 3000.],"['10:00:00', '10:00:00', '15:00:00']","['11:50:00', '11:50:00', '15:50:00']",5400.0,01:30:00
18,18,EARS 003,EARS,lsb,"[{'day': 1, 'end': '12:20', 'start': '11:15'},...","[1, 2, 3, 5]",4,[3900. 3900. 3900. 3000.],"['11:15:00', '11:15:00', '11:15:00', '12:00:00']","['12:20:00', '12:20:00', '12:20:00', '12:50:00']",3675.0,01:01:15
19,19,ECON 024,ECON,silsby-rocky,"[{'day': 1, 'end': '09:50', 'start': '08:45'},...","[1, 3, 4, 5]",4,[3900. 3900. 3900. 3000.],"['8:45:00', '8:45:00', '8:45:00', '9:00:00']","['9:50:00', '9:50:00', '9:50:00', '9:50:00']",3675.0,01:01:15
20,20,ECON 036,ECON,kemeny,"[{'day': 1, 'end': '09:50', 'start': '08:45'},...","[1, 3, 4, 5]",4,[3900. 3900. 3900. 3000.],"['8:45:00', '8:45:00', '8:45:00', '9:00:00']","['9:50:00', '9:50:00', '9:50:00', '9:50:00']",3675.0,01:01:15
21,21,ENGL 028,ENGL,lsb,"[{'day': 1, 'end': '09:50', 'start': '08:45'},...","[1, 3, 4, 5]",4,[3900. 3900. 3900. 3000.],"['8:45:00', '8:45:00', '8:45:00', '9:00:00']","['9:50:00', '9:50:00', '9:50:00', '9:50:00']",3675.0,01:01:15
22,22,ENGL 047,ENGL,dartmouth_hall,"[{'day': 1, 'end': '12:20', 'start': '11:15'},...","[1, 2, 3, 5]",4,[3900. 3900. 3900. 3000.],"['11:15:00', '11:15:00', '11:15:00', '12:00:00']","['12:20:00', '12:20:00', '12:20:00', '12:50:00']",3675.0,01:01:15
23,23,ENGL 067,ENGL,carson-tech_services,"[{'day': 2, 'end': '15:50', 'start': '14:00'},...","[2, 3, 4]",3,[6600. 6600. 3000.],"['14:00:00', '14:00:00', '16:15:00']","['15:50:00', '15:50:00', '17:05:00']",5400.0,01:30:00
24,24,ENGS 022,ENGS,cummings,"[{'day': 1, 'end': '09:50', 'start': '08:45'},...","[1, 3, 4, 5]",4,[3900. 3900. 3900. 3000.],"['8:45:00', '8:45:00', '8:45:00', '9:00:00']","['9:50:00', '9:50:00', '9:50:00', '9:50:00']",3675.0,01:01:15
25,25,ENGS 025,ENGS,cummings,"[{'day': 1, 'end': '14:50', 'start': '13:45'},...","[1, 3, 4, 5]",4,[3900. 3900. 3900. 3000.],"['13:45:00', '13:45:00', '13:45:00', '13:00:00']","['14:50:00', '14:50:00', '14:50:00', '13:50:00']",3675.0,01:01:15
26,26,ENGS 069,ENGS,lsb,"[{'day': 1, 'end': '11:05', 'start': '10:00'},...","[1, 3, 4, 5]",4,[3900. 3900. 3900. 3000.],"['10:00:00', '10:00:00', '10:00:00', '12:00:00']","['11:05:00', '11:05:00', '11:05:00', '12:50:00']",3675.0,01:01:15
27,27,ENGS 093,ENGS,maclean,"[{'day': 1, 'end': '13:35', 'start': '12:30'},...","[1, 2, 3, 5]",4,[3900. 3900. 3900. 3000.],"['12:30:00', '12:30:00', '12:30:00', '13:00:00']","['13:35:00', '13:35:00', '13:35:00', '13:50:00']",3675.0,01:01:15
28,28,FILM 051,FILM,vac,"[{'day': 2, 'end': '11:50', 'start': '10:00'},...","[2, 3, 4]",3,[6600. 6600. 3000.],"['10:00:00', '10:00:00', '15:00:00']","['11:50:00', '11:50:00', '15:50:00']",5400.0,01:30:00
29,29,GERM 001,GERM,dartmouth_hall,"[{'day': 1, 'end': '09:50', 'start': '09:00'},...","[1, 2, 3, 4, 5]",5,[3000. 3000. 3000. 3000. 3000.],"['9:00:00', '9:00:00', '9:00:00', '9:00:00', '...","['9:50:00', '9:50:00', '9:50:00', '9:50:00', '...",3000.0,00:50:00
30,30,HIST 051,HIST,carson-tech_services,"[{'day': 1, 'end': '13:35', 'start': '12:30'},...","[1, 2, 3, 5]",4,[3900. 3900. 3900. 3000.],"['12:30:00', '12:30:00', '12:30:00', '13:00:00']","['13:35:00', '13:35:00', '13:35:00', '13:50:00']",3675.0,01:01:15
31,31,JAPN 033,JAPN,batrlett,"[{'day': 1, 'end': '12:20', 'start': '11:15'},...","[1, 2, 3, 5]",4,[3900. 3900. 3900. 3000.],"['11:15:00', '11:15:00', '11:15:00', '12:00:00']","['12:20:00', '12:20:00', '12:20:00', '12:50:00']",3675.0,01:01:15
32,32,LAT 003,LAT,reed,"[{'day': 1, 'end': '09:50', 'start': '08:45'},...","[1, 3, 4, 5]",4,[3900. 3900. 3900. 3000.],"['8:45:00', '8:45:00', '8:45:00', '9:00:00']","['9:50:00', '9:50:00', '9:50:00', '9:50:00']",3675.0,01:01:15
33,33,M&SS 045,M&SS,kemeny,"[{'day': 1, 'end': '09:50', 'start': '08:45'},...","[1, 3, 4, 5]",4,[3900. 3900. 3900. 3000.],"['8:45:00', '8:45:00', '8:45:00', '9:00:00']","['9:50:00', '9:50:00', '9:50:00', '9:50:00']",3675.0,01:01:15
34,34,MATH 013,MATH,kemeny,"[{'day': 1, 'end': '13:35', 'start': '12:30'},...","[1, 2, 3, 5]",4,[3900. 3900. 3900. 3000.],"['12:30:00', '12:30:00', '12:30:00', '13:00:00']","['13:35:00', '13:35:00', '13:35:00', '13:50:00']",3675.0,01:01:15
35,35,MATH 022,MATH,kemeny,"[{'day': 1, 'end': '12:20', 'start': '11:15'},...","[1, 2, 3, 5]",4,[3900. 3900. 3900. 3000.],"['11:15:00', '11:15:00', '11:15:00', '12:00:00']","['12:20:00', '12:20:00', '12:20:00', '12:50:00']",3675.0,01:01:15
36,36,MATH 023,MATH,kemeny,"[{'day': 1, 'end': '12:20', 'start': '11:15'},...","[1, 2, 3, 5]",4,[3900. 3900. 3900. 3000.],"['11:15:00', '11:15:00', '11:15:00', '12:00:00']","['12:20:00', '12:20:00', '12:20:00', '12:50:00']",3675.0,01:01:15
37,37,MUS 003,MUS,hopkins,"[{'day': 2, 'end': '15:50', 'start': '14:00'},...","[2, 3, 4]",3,[6600. 6600. 3000.],"['14:00:00', '14:00:00', '16:15:00']","['15:50:00', '15:50:00', '17:05:00']",5400.0,01:30:00
38,38,MUS 016,MUS,hopkins,"[{'day': 2, 'end': '11:50', 'start': '10:00'},...","[2, 3, 4]",3,[6600. 6600. 3000.],"['10:00:00', '10:00:00', '15:00:00']","['11:50:00', '11:50:00', '15:50:00']",5400.0,01:30:00
39,39,NAS 008,NAS,moore,"[{'day': 1, 'end': '13:35', 'start': '12:30'},...","[1, 2, 3, 5]",4,[3900. 3900. 3900. 3000.],"['12:30:00', '12:30:00', '12:30:00', '13:00:00']","['13:35:00', '13:35:00', '13:35:00', '13:50:00']",3675.0,01:01:15
40,40,NAS 035,NAS,carpenterhall,"[{'day': 1, 'end': '12:20', 'start': '11:15'},...","[1, 2, 3, 5]",4,[3900. 3900. 3900. 3000.],"['11:15:00', '11:15:00', '11:15:00', '12:00:00']","['12:20:00', '12:20:00', '12:20:00', '12:50:00']",3675.0,01:01:15
41,41,PSYC 028,PSYC,moore,"[{'day': 1, 'end': '14:50', 'start': '13:45'},...","[1, 3, 4, 5]",4,[3900. 3900. 3900. 3000.],"['13:45:00', '13:45:00', '13:45:00', '13:00:00']","['14:50:00', '14:50:00', '14:50:00', '13:50:00']",3675.0,01:01:15
42,42,REL 018,REL,carson-tech_services,"[{'day': 1, 'end': '14:50', 'start': '13:45'},...","[1, 3, 4, 5]",4,[3900. 3900. 3900. 3000.],"['13:45:00', '13:45:00', '13:45:00', '13:00:00']","['14:50:00', '14:50:00', '14:50:00', '13:50:00']",3675.0,01:01:15
43,43,SPAN 003,SPAN,dartmouth_hall,"[{'day': 1, 'end': '09:50', 'start': '09:00'},...","[1, 2, 3, 4, 5]",5,[3000. 3000. 3000. 3000. 3000.],"['9:00:00', '9:00:00', '9:00:00', '9:00:00', '...","['9:50:00', '9:50:00', '9:50:00', '9:50:00', '...",3000.0,00:50:00
44,44,TUCK 003,TUCK,carson-tech_services,"[{'day': 2, 'end': '15:50', 'start': '14:00'},...","[2, 3, 4]",3,[6600. 6600. 3000.],"['14:00:00', '14:00:00', '16:15:00']","['15:50:00', '15:50:00', '17:05:00']",5400.0,01:30:00

In [12]:
# ls=[1,3,2,4,6,7,2]

# print([i for i,x in enumerate(ls) if x==2])
# enumerate(ls)