In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
data_class=pd.read_csv('Class.csv',index_col='tnv')
data_class=data_class.drop(data_class.columns[0],axis=1)
data_class
# data_class=data.rename(columns={'1':'tnv', '1.1':'col'})

            1         2         3         4
tnv
2    ENGS 069  ENGS 022  ANTH 012       NaN
3    COSC 077  COSC 098  COSC 065       NaN
4    COSC 057  COSC 065       NaN       NaN
5    COSC 065       NaN       NaN       NaN
6    COSC 050  PSYC 028  COSC 065       NaN
7    COSC 077  COSC 060  COSC 065       NaN
8    CHIN 062  COSC 089  COSC 065       NaN
9    ANTH 050  COSC 065  COSC 099       NaN
10   COSC 050  BIOL 004  COSC 065       NaN
11   COSC 089  COSC 050  TUCK 003  COSC 065
12   COSC 070  COSC 065       NaN       NaN
13   COSC 065  COSC 027  COSC 020       NaN
14   EARS 003  SPAN 003  COSC 065       NaN
15   COSC 065  COSC 027       NaN       NaN
16   COSC 089   MUS 016  COSC 065       NaN
17   COSC 089  CHIN 033  TUCK 003  COSC 065
18   COSC 050  COSC 065  FILM 051       NaN
19   COSC 070  COSC 065       NaN       NaN
20   COSC 050   NAS 035  COSC 065       NaN
21   COSC 070  COSC 065       NaN       NaN
22   M&SS 045  COSC 060  COSC 065       NaN
23    NAS 008  COSC 065  ENGL 028       NaN
24   ECON 024  JAPN 033  FILM 042  COSC 065
25    MUS 003  COSC 050  COSC 065       NaN
26    MUS 003  COSC 077  COSC 065       NaN
27   MATH 023  COSC 069  COSC 065       NaN
28   ENGS 025  ENGS 069  ENGS 093       NaN
29   COSC 070  COSC 065       NaN       NaN
30   COSC 070  COSC 065       NaN       NaN
31        NaN       NaN       NaN       NaN
32        NaN       NaN       NaN       NaN
33   COSC 050  SPAN 002  COSC 065       NaN
34   COSC 070  COSC 065       NaN       NaN
35   ENGS 031  COSC 065       NaN       NaN
36   COSC 060  COSC 065       NaN       NaN
37   COSC 070  COSC 065       NaN       NaN
38   ECON 036  COSC 050  COSC 065       NaN
39   COSC 060  COSC 065       NaN       NaN
40   MATH 013   LAT 003  COSC 065       NaN
41   COSC 060  COSC 065       NaN       NaN
42   COSC 070  COSC 065       NaN       NaN
43   BIOL 006  COSC 050  COSC 065       NaN
44   COSC 089  COSC 065       NaN       NaN
45   ENGS 025  MATH 023  COSC 065       NaN
46        NaN       NaN       NaN       NaN
47   COSC 098  COSC 060  COSC 065       NaN
48   COSC 070  COSC 065       NaN       NaN
49   GERM 001  COSC 065  COSC 007       NaN

In [3]:
data_class.iloc[1,:]

1    COSC 077
2    COSC 098
3    COSC 065
4         NaN
Name: 3, dtype: object

In [4]:
data_class_loc=pd.read_csv('class_define.csv',index_col='class_name')

In [5]:
data_class_loc

,Unnamed: 0,class_field,location,periods,day_learn,day_go_to_school,time_learn,start_time,end_time,avg_learn_sub,visualize_time,time_go_school
class_name,,,,,,,,,,,,
ANTH 012,0,ANTH,silsby-rocky,"[{'day': 1, 'end': '12:20', 'start': '11:15'},...","[1, 2, 3, 5]",4,[3900. 3900. 3900. 3000.],"['11:15:00', '11:15:00', '11:15:00', '12:00:00']","['12:20:00', '12:20:00', '12:20:00', '12:50:00']",3675.0,01:01:15,"[3900.0, 3900.0, 3900.0, 0, 3000.0]"
BIOL 004,1,BIOL,lsb,"[{'day': 2, 'end': '11:50', 'start': '10:00'},...","[2, 3, 4]",3,[6600. 6600. 3000.],"['10:00:00', '10:00:00', '15:00:00']","['11:50:00', '11:50:00', '15:50:00']",5400.0,01:30:00,"[0, 6600.0, 6600.0, 3000.0, 0]"
BIOL 006,2,BIOL,lsb,"[{'day': 2, 'end': '11:50', 'start': '10:00'},...","[2, 3, 4]",3,[6600. 6600. 3000.],"['10:00:00', '10:00:00', '15:00:00']","['11:50:00', '11:50:00', '15:50:00']",5400.0,01:30:00,"[0, 6600.0, 6600.0, 3000.0, 0]"
CHIN 033,3,CHIN,reed,"[{'day': 1, 'end': '09:50', 'start': '09:00'},...","[1, 2, 3, 4, 5]",5,[3000. 3000. 3000. 3000. 3000.],"['9:00:00', '9:00:00', '9:00:00', '9:00:00', '...","['9:50:00', '9:50:00', '9:50:00', '9:50:00', '...",3000.0,00:50:00,"[3000.0, 3000.0, 3000.0, 3000.0, 3000.0]"
CHIN 062,4,CHIN,kemeny,"[{'day': 2, 'end': '17:50', 'start': '16:00'},...","[1, 2, 4]",3,[6600. 6600. 3000.],"['16:00:00', '16:00:00', '17:00:00']","['17:50:00', '17:50:00', '17:50:00']",5400.0,01:30:00,"[6600.0, 6600.0, 0, 3000.0, 0]"
COSC 007,5,COSC,baker-berry,"[{'day': 1, 'end': '14:50', 'start': '13:45'},...","[1, 3, 4, 5]",4,[3900. 3900. 3900. 3000.],"['13:45:00', '13:45:00', '13:45:00', '13:00:00']","['14:50:00', '14:50:00', '14:50:00', '13:50:00']",3675.0,01:01:15,"[3900.0, 0, 3900.0, 3900.0, 3000.0]"
COSC 020,6,COSC,moore,"[{'day': 2, 'end': '15:50', 'start': '14:00'},...","[2, 3, 4]",3,[6600. 6600. 3000.],"['14:00:00', '14:00:00', '16:15:00']","['15:50:00', '15:50:00', '17:05:00']",5400.0,01:30:00,"[0, 6600.0, 6600.0, 3000.0, 0]"
COSC 027,7,COSC,sudikoff,"[{'day': 1, 'end': '16:50', 'start': '15:00'},...","[1, 1, 4]",3,[6600. 3000. 6600.],"['15:00:00', '17:00:00', '16:00:00']","['16:50:00', '17:50:00', '17:50:00']",5400.0,01:30:00,"[6600.0, 0, 0, 6600.0, 0]"
COSC 050,8,COSC,kemeny,"[{'day': 1, 'end': '13:35', 'start': '12:30'},...","[1, 2, 3, 5]",4,[3900. 3900. 3900. 3000.],"['12:30:00', '12:30:00', '12:30:00', '13:00:00']","['13:35:00', '13:35:00', '13:35:00', '13:50:00']",3675.0,01:01:15,"[3900.0, 3900.0, 3900.0, 0, 3000.0]"
COSC 057,9,COSC,sudikoff,"[{'day': 1, 'end': '14:50', 'start': '13:45'},...","[1, 3, 4, 5]",4,[3900. 3900. 3900. 3000.],"['13:45:00', '13:45:00', '13:45:00', '13:00:00']","['14:50:00', '14:50:00', '14:50:00', '13:50:00']",3675.0,01:01:15,"[3900.0, 0, 3900.0, 3900.0, 3000.0]"
COSC 060,10,COSC,lsb,"[{'day': 1, 'end': '14:50', 'start': '13:45'},...","[1, 3, 4, 5]",4,[3900. 3900. 3900. 3000.],"['13:45:00', '13:45:00', '13:45:00', '13:00:00']","['14:50:00', '14:50:00', '14:50:00', '13:50:00']",3675.0,01:01:15,"[3900.0, 0, 3900.0, 3900.0, 3000.0]"
COSC 065,11,COSC,lsb,"[{'day': 1, 'end': '11:05', 'start': '10:00'},...","[1, 3, 4, 5]",4,[3900. 3900. 3900. 3000.],"['10:00:00', '10:00:00', '10:00:00', '12:00:00']","['11:05:00', '11:05:00', '11:05:00', '12:50:00']",3675.0,01:01:15,"[3900.0, 0, 3900.0, 3900.0, 3000.0]"
COSC 069,12,COSC,sudikoff,"[{'day': 2, 'end': '17:50', 'start': '16:00'},...","[1, 2, 4]",3,[6600. 6600. 3000.],"['16:00:00', '16:00:00', '17:00:00']","['17:50:00', '17:50:00', '17:50:00']",5400.0,01:30:00,"[6600.0, 6600.0, 0, 3000.0, 0]"
COSC 070,13,COSC,sudikoff,"[{'day': 2, 'end': '15:50', 'start': '14:00'},...","[2, 3, 4]",3,[6600. 6600. 3000.],"['14:00:00', '14:00:00', '16:15:00']","['15:50:00', '15:50:00', '17:05:00']",5400.0,01:30:00,"[0, 6600.0, 6600.0, 3000.0, 0]"
COSC 077,14,COSC,steele,"[{'day': 2, 'end': '15:50', 'start': '14:00'},...","[2, 3, 4]",3,[6600. 6600. 3000.],"['14:00:00', '14:00:00', '16:15:00']","['15:50:00', '15:50:00', '17:05:00']",5400.0,01:30:00,"[0, 6600.0, 6600.0, 3000.0, 0]"
COSC 089 1,15,COSC,sudikoff,"[{'day': 1, 'end': '12:20', 'start': '11:15'},...","[1, 2, 3, 5]",4,[3900. 3900. 3900. 3000.],"['11:15:00', '11:15:00', '11:15:00', '12:00:00']","['12:20:00', '12:20:00', '12:20:00', '12:50:00']",3675.0,01:01:15,"[3900.0, 3900.0, 3900.0, 0, 3000.0]"
COSC 089 2,16,COSC,sudikoff,"[{'day': 2, 'end': '15:50', 'start': '14:00'},...","[2, 3, 4]",3,[6600. 6600. 3000.],"['14:00:00', '14:00:00', '16:15:00']","['15:50:00', '15:50:00', '17:05:00']",5400.0,01:30:00,"[0, 6600.0, 6600.0, 3000.0, 0]"
COSC 089 3,17,COSC,sudikoff,"[{'day': 2, 'end': '11:50', 'start': '10:00'},...","[2, 3, 4]",3,[6600. 6600. 3000.],"['10:00:00', '10:00:00', '15:00:00']","['11:50:00', '11:50:00', '15:50:00']",5400.0,01:30:00,"[0, 6600.0, 6600.0, 3000.0, 0]"
EARS 003,18,EARS,lsb,"[{'day': 1, 'end': '12:20', 'start': '11:15'},...","[1, 2, 3, 5]",4,[3900. 3900. 3900. 3000.],"['11:15:00', '11:15:00', '11:15:00', '12:00:00']","['12:20:00', '12:20:00', '12:20:00', '12:50:00']",3675.0,01:01:15,"[3900.0, 3900.0, 3900.0, 0, 3000.0]"
ECON 024,19,ECON,silsby-rocky,"[{'day': 1, 'end': '09:50', 'start': '08:45'},...","[1, 3, 4, 5]",4,[3900. 3900. 3900. 3000.],"['8:45:00', '8:45:00', '8:45:00', '9:00:00']","['9:50:00', '9:50:00', '9:50:00', '9:50:00']",3675.0,01:01:15,"[3900.0, 0, 3900.0, 3900.0, 3000.0]"
ECON 036,20,ECON,kemeny,"[{'day': 1, 'end': '09:50', 'start': '08:45'},...","[1, 3, 4, 5]",4,[3900. 3900. 3900. 3000.],"['8:45:00', '8:45:00', '8:45:00', '9:00:00']","['9:50:00', '9:50:00', '9:50:00', '9:50:00']",3675.0,01:01:15,"[3900.0, 0, 3900.0, 3900.0, 3000.0]"
ENGL 028,21,ENGL,lsb,"[{'day': 1, 'end': '09:50', 'start': '08:45'},...","[1, 3, 4, 5]",4,[3900. 3900. 3900. 3000.],"['8:45:00', '8:45:00', '8:45:00', '9:00:00']","['9:50:00', '9:50:00', '9:50:00', '9:50:00']",3675.0,01:01:15,"[3900.0, 0, 3900.0, 3900.0, 3000.0]"
ENGL 047,22,ENGL,dartmouth_hall,"[{'day': 1, 'end': '12:20', 'start': '11:15'},...","[1, 2, 3, 5]",4,[3900. 3900. 3900. 3000.],"['11:15:00', '11:15:00', '11:15:00', '12:00:00']","['12:20:00', '12:20:00', '12:20:00', '12:50:00']",3675.0,01:01:15,"[3900.0, 3900.0, 3900.0, 0, 3000.0]"
ENGL 067,23,ENGL,carson-tech_services,"[{'day': 2, 'end': '15:50', 'start': '14:00'},...","[2, 3, 4]",3,[6600. 6600. 3000.],"['14:00:00', '14:00:00', '16:15:00']","['15:50:00', '15:50:00', '17:05:00']",5400.0,01:30:00,"[0, 6600.0, 6600.0, 3000.0, 0]"
ENGS 022,24,ENGS,cummings,"[{'day': 1, 'end': '09:50', 'start': '08:45'},...","[1, 3, 4, 5]",4,[3900. 3900. 3900. 3000.],"['8:45:00', '8:45:00', '8:45:00', '9:00:00']","['9:50:00', '9:50:00', '9:50:00', '9:50:00']",3675.0,01:01:15,"[3900.0, 0, 3900.0, 3900.0, 3000.0]"
ENGS 025,25,ENGS,cummings,"[{'day': 1, 'end': '14:50', 'start': '13:45'},...","[1, 3, 4, 5]",4,[3900. 3900. 3900. 3000.],"['13:45:00', '13:45:00', '13:45:00', '13:00:00']","['14:50:00', '14:50:00', '14:50:00', '13:50:00']",3675.0,01:01:15,"[3900.0, 0, 3900.0, 3900.0, 3000.0]"
ENGS 069,26,ENGS,lsb,"[{'day': 1, 'end': '11:05', 'start': '10:00'},...","[1, 3, 4, 5]",4,[3900. 3900. 3900. 3000.],"['10:00:00', '10:00:00', '10:00:00', '12:00:00']","['11:05:00', '11:05:00', '11:05:00', '12:50:00']",3675.0,01:01:15,"[3900.0, 0, 3900.0, 3900.0, 3000.0]"
ENGS 093,27,ENGS,maclean,"[{'day': 1, 'end': '13:35', 'start': '12:30'},...","[1, 2, 3, 5]",4,[3900. 3900. 3900. 3000.],"['12:30:00', '12:30:00', '12:30:00', '13:00:00']","['13:35:00', '13:35:00', '13:35:00', '13:50:00']",3675.0,01:01:15,"[3900.0, 3900.0, 3900.0, 0, 3000.0]"
FILM 051,28,FILM,vac,"[{'day': 2, 'end': '11:50', 'start': '10:00'},...","[2, 3, 4]",3,[6600. 6600. 3000.],"['10:00:00', '10:00:00', '15:00:00']","['11:50:00', '11:50:00', '15:50:00']",5400.0,01:30:00,"[0, 6600.0, 6600.0, 3000.0, 0]"
GERM 001,29,GERM,dartmouth_hall,"[{'day': 1, 'end': '09:50', 'start': '09:00'},...","[1, 2, 3, 4, 5]",5,[3000. 3000. 3000. 3000. 3000.],"['9:00:00', '9:00:00', '9:00:00', '9:00:00', '...","['9:50:00', '9:50:00', '9:50:00', '9:50:00', '...",3000.0,00:50:00,"[3000.0, 3000.0, 3000.0, 3000.0, 3000.0]"
HIST 051,30,HIST,carson-tech_services,"[{'day': 1, 'end': '13:35', 'start': '12:30'},...","[1, 2, 3, 5]",4,[3900. 3900. 3900. 3000.],"['12:30:00', '12:30:00', '12:30:00', '13:00:00']","['13:35:00', '13:35:00', '13:35:00', '13:50:00']",3675.0,01:01:15,"[3900.0, 3900.0, 3900.0, 0, 3000.0]"
JAPN 033,31,JAPN,batrlett,"[{'day': 1, 'end': '12:20', 'start': '11:15'},...","[1, 2, 3, 5]",4,[3900. 3900. 3900. 3000.],"['11:15:00', '11:15:00', '11:15:00', '12:00:00']","['12:20:00', '12:20:00', '12:20:00', '12:50:00']",3675.0,01:01:15,"[3900.0, 3900.0, 3900.0, 0, 3000.0]"
LAT 003,32,LAT,reed,"[{'day': 1, 'end': '09:50', 'start': '08:45'},...","[1, 3, 4, 5]",4,[3900. 3900. 3900. 3000.],"['8:45:00', '8:45:00', '8:45:00', '9:00:00']","['9:50:00', '9:50:00', '9:50:00', '9:50:00']",3675.0,01:01:15,"[3900.0, 0, 3900.0, 3900.0, 3000.0]"
M&SS 045,33,M&SS,kemeny,"[{'day': 1, 'end': '09:50', 'start': '08:45'},...","[1, 3, 4, 5]",4,[3900. 3900. 3900. 3000.],"['8:45:00', '8:45:00', '8:45:00', '9:00:00']","['9:50:00', '9:50:00', '9:50:00', '9:50:00']",3675.0,01:01:15,"[3900.0, 0, 3900.0, 3900.0, 3000.0]"
MATH 013,34,MATH,kemeny,"[{'day': 1, 'end': '13:35', 'start': '12:30'},...","[1, 2, 3, 5]",4,[3900. 3900. 3900. 3000.],"['12:30:00', '12:30:00', '12:30:00', '13:00:00']","['13:35:00', '13:35:00', '13:35:00', '13:50:00']",3675.0,01:01:15,"[3900.0, 3900.0, 3900.0, 0, 3000.0]"
MATH 022,35,MATH,kemeny,"[{'day': 1, 'end': '12:20', 'start': '11:15'},...","[1, 2, 3, 5]",4,[3900. 3900. 3900. 3000.],"['11:15:00', '11:15:00', '11:15:00', '12:00:00']","['12:20:00', '12:20:00', '12:20:00', '12:50:00']",3675.0,01:01:15,"[3900.0, 3900.0, 3900.0, 0, 3000.0]"
MATH 023,36,MATH,kemeny,"[{'day': 1, 'end': '12:20', 'start': '11:15'},...","[1, 2, 3, 5]",4,[3900. 3900. 3900. 3000.],"['11:15:00', '11:15:00', '11:15:00', '12:00:00']","['12:20:00', '12:20:00', '12:20:00', '12:50:00']",3675.0,01:01:15,"[3900.0, 3900.0, 3900.0, 0, 3000.0]"
MUS 003,37,MUS,hopkins,"[{'day': 2, 'end': '15:50', 'start': '14:00'},...","[2, 3, 4]",3,[6600. 6600. 3000.],"['14:00:00', '14:00:00', '16:15:00']","['15:50:00', '15:50:00', '17:05:00']",5400.0,01:30:00,"[0, 6600.0, 6600.0, 3000.0, 0]"
MUS 016,38,MUS,hopkins,"[{'day': 2, 'end': '11:50', 'start': '10:00'},...","[2, 3, 4]",3,[6600. 6600. 3000.],"['10:00:00', '10:00:00', '15:00:00']","['11:50:00', '11:50:00', '15:50:00']",5400.0,01:30:00,"[0, 6600.0, 6600.0, 3000.0, 0]"
NAS 008,39,NAS,moore,"[{'day': 1, 'end': '13:35', 'start': '12:30'},...","[1, 2, 3, 5]",4,[3900. 3900. 3900. 3000.],"['12:30:00', '12:30:00', '12:30:00', '13:00:00']","['13:35:00', '13:35:00', '13:35:00', '13:50:00']",3675.0,01:01:15,"[3900.0, 3900.0, 3900.0, 0, 3000.0]"
NAS 035,40,NAS,carpenterhall,"[{'day': 1, 'end': '12:20', 'start': '11:15'},...","[1, 2, 3, 5]",4,[3900. 3900. 3900. 3000.],"['11:15:00', '11:15:00', '11:15:00', '12:00:00']","['12:20:00', '12:20:00', '12:20:00', '12:50:00']",3675.0,01:01:15,"[3900.0, 3900.0, 3900.0, 0, 3000.0]"
PSYC 028,41,PSYC,moore,"[{'day': 1, 'end': '14:50', 'start': '13:45'},...","[1, 3, 4, 5]",4,[3900. 3900. 3900. 3000.],"['13:45:00', '13:45:00', '13:45:00', '13:00:00']","['14:50:00', '14:50:00', '14:50:00', '13:50:00']",3675.0,01:01:15,"[3900.0, 0, 3900.0, 3900.0, 3000.0]"
REL 018,42,REL,carson-tech_services,"[{'day': 1, 'end': '14:50', 'start': '13:45'},...","[1, 3, 4, 5]",4,[3900. 3900. 3900. 3000.],"['13:45:00', '13:45:00', '13:45:00', '13:00:00']","['14:50:00', '14:50:00', '14:50:00', '13:50:00']",3675.0,01:01:15,"[3900.0, 0, 3900.0, 3900.0, 3000.0]"
SPAN 003,43,SPAN,dartmouth_hall,"[{'day': 1, 'end': '09:50', 'start': '09:00'},...","[1, 2, 3, 4, 5]",5,[3000. 3000. 3000. 3000. 3000.],"['9:00:00', '9:00:00', '9:00:00', '9:00:00', '...","['9:50:00', '9:50:00', '9:50:00', '9:50:00', '...",3000.0,00:50:00,"[3000.0, 3000.0, 3000.0, 3000.0, 3000.0]"
TUCK 003,44,TUCK,carson-tech_services,"[{'day': 2, 'end': '15:50', 'start': '14:00'},...","[2, 3, 4]",3,[6600. 6600. 3000.],"['14:00:00', '14:00:00', '16:15:00']","['15:50:00', '15:50:00', '17:05:00']",5400.0,01:30:00,"[0, 6600.0, 6600.0, 3000.0, 0]"

In [6]:
time_school_tnv=[]
for i in data_class.index:
    tnv_class=data_class.loc[i,:]
    total_time=np.array([0,0,0,0,0])
    for j in tnv_class:
        try:
            add_time=np.array(eval(data_class_loc.loc[j,'time_go_school']))
        except:
            add_time=[0,0,0,0,0]
        total_time=np.add(total_time,add_time)

#         total_time=total_time/2
        total_time=list(total_time)
    time_school_tnv.append(total_time)
data_class['time_learn_day']=time_school_tnv

In [7]:
data_class.to_csv('time_learn_in_day.csv')

In [8]:
data_class

,1,2,3,4,time_learn_day
tnv,,,,,
2,ENGS 069,ENGS 022,ANTH 012,NaN,"[11700.0, 3900.0, 11700.0, 7800.0, 9000.0]"
3,COSC 077,COSC 098,COSC 065,NaN,"[3900.0, 6600.0, 10500.0, 6900.0, 3000.0]"
4,COSC 057,COSC 065,NaN,NaN,"[7800.0, 0.0, 7800.0, 7800.0, 6000.0]"
5,COSC 065,NaN,NaN,NaN,"[3900.0, 0.0, 3900.0, 3900.0, 3000.0]"
6,COSC 050,PSYC 028,COSC 065,NaN,"[11700.0, 3900.0, 11700.0, 7800.0, 9000.0]"
7,COSC 077,COSC 060,COSC 065,NaN,"[7800.0, 6600.0, 14400.0, 10800.0, 6000.0]"
8,CHIN 062,COSC 089,COSC 065,NaN,"[10500.0, 6600.0, 3900.0, 6900.0, 3000.0]"
9,ANTH 050,COSC 065,COSC 099,NaN,"[3900.0, 0.0, 3900.0, 3900.0, 3000.0]"
10,COSC 050,BIOL 004,COSC 065,NaN,"[7800.0, 10500.0, 14400.0, 6900.0, 6000.0]"
11,COSC 089,COSC 050,TUCK 003,COSC 065,"[7800.0, 10500.0, 14400.0, 6900.0, 6000.0]"
12,COSC 070,COSC 065,NaN,NaN,"[3900.0, 6600.0, 10500.0, 6900.0, 3000.0]"
13,COSC 065,COSC 027,COSC 020,NaN,"[10500.0, 6600.0, 10500.0, 13500.0, 3000.0]"
14,EARS 003,SPAN 003,COSC 065,NaN,"[10800.0, 6900.0, 10800.0, 6900.0, 9000.0]"
15,COSC 065,COSC 027,NaN,NaN,"[10500.0, 0.0, 3900.0, 10500.0, 3000.0]"
16,COSC 089,MUS 016,COSC 065,NaN,"[3900.0, 6600.0, 10500.0, 6900.0, 3000.0]"
17,COSC 089,CHIN 033,TUCK 003,COSC 065,"[6900.0, 9600.0, 13500.0, 9900.0, 6000.0]"
18,COSC 050,COSC 065,FILM 051,NaN,"[7800.0, 10500.0, 14400.0, 6900.0, 6000.0]"
19,COSC 070,COSC 065,NaN,NaN,"[3900.0, 6600.0, 10500.0, 6900.0, 3000.0]"
20,COSC 050,NAS 035,COSC 065,NaN,"[11700.0, 7800.0, 11700.0, 3900.0, 9000.0]"
21,COSC 070,COSC 065,NaN,NaN,"[3900.0, 6600.0, 10500.0, 6900.0, 3000.0]"
22,M&SS 045,COSC 060,COSC 065,NaN,"[11700.0, 0.0, 11700.0, 11700.0, 9000.0]"
23,NAS 008,COSC 065,ENGL 028,NaN,"[11700.0, 3900.0, 11700.0, 7800.0, 9000.0]"
24,ECON 024,JAPN 033,FILM 042,COSC 065,"[11700.0, 3900.0, 11700.0, 7800.0, 9000.0]"
25,MUS 003,COSC 050,COSC 065,NaN,"[7800.0, 10500.0, 14400.0, 6900.0, 6000.0]"
26,MUS 003,COSC 077,COSC 065,NaN,"[3900.0, 13200.0, 17100.0, 9900.0, 3000.0]"
27,MATH 023,COSC 069,COSC 065,NaN,"[14400.0, 10500.0, 7800.0, 6900.0, 6000.0]"
28,ENGS 025,ENGS 069,ENGS 093,NaN,"[11700.0, 3900.0, 11700.0, 7800.0, 9000.0]"
29,COSC 070,COSC 065,NaN,NaN,"[3900.0, 6600.0, 10500.0, 6900.0, 3000.0]"
30,COSC 070,COSC 065,NaN,NaN,"[3900.0, 6600.0, 10500.0, 6900.0, 3000.0]"
31,NaN,NaN,NaN,NaN,"[0, 0, 0, 0, 0]"
32,NaN,NaN,NaN,NaN,"[0, 0, 0, 0, 0]"
33,COSC 050,SPAN 002,COSC 065,NaN,"[7800.0, 3900.0, 7800.0, 3900.0, 6000.0]"
34,COSC 070,COSC 065,NaN,NaN,"[3900.0, 6600.0, 10500.0, 6900.0, 3000.0]"
35,ENGS 031,COSC 065,NaN,NaN,"[3900.0, 0.0, 3900.0, 3900.0, 3000.0]"
36,COSC 060,COSC 065,NaN,NaN,"[7800.0, 0.0, 7800.0, 7800.0, 6000.0]"
37,COSC 070,COSC 065,NaN,NaN,"[3900.0, 6600.0, 10500.0, 6900.0, 3000.0]"
38,ECON 036,COSC 050,COSC 065,NaN,"[11700.0, 3900.0, 11700.0, 7800.0, 9000.0]"
39,COSC 060,COSC 065,NaN,NaN,"[7800.0, 0.0, 7800.0, 7800.0, 6000.0]"
40,MATH 013,LAT 003,COSC 065,NaN,"[11700.0, 3900.0, 11700.0, 7800.0, 9000.0]"
41,COSC 060,COSC 065,NaN,NaN,"[7800.0, 0.0, 7800.0, 7800.0, 6000.0]"
42,COSC 070,COSC 065,NaN,NaN,"[3900.0, 6600.0, 10500.0, 6900.0, 3000.0]"
43,BIOL 006,COSC 050,COSC 065,NaN,"[7800.0, 10500.0, 14400.0, 6900.0, 6000.0]"
44,COSC 089,COSC 065,NaN,NaN,"[3900.0, 0.0, 3900.0, 3900.0, 3000.0]"
45,ENGS 025,MATH 023,COSC 065,NaN,"[11700.0, 3900.0, 11700.0, 7800.0, 9000.0]"
46,NaN,NaN,NaN,NaN,"[0, 0, 0, 0, 0]"
47,COSC 098,COSC 060,COSC 065,NaN,"[7800.0, 0.0, 7800.0, 7800.0, 6000.0]"
48,COSC 070,COSC 065,NaN,NaN,"[3900.0, 6600.0, 10500.0, 6900.0, 3000.0]"
49,GERM 001,COSC 065,COSC 007,NaN,"[10800.0, 3000.0, 10800.0, 10800.0, 9000.0]"